<div class="modal fade" id="myModal">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		      <div class="modal-header h-50">
		        <h2 class="col-12 modal-title text-center">Ready to Build the Future?</h2>
		        <button type="button" style="color:#fff"class="close" data-dismiss="modal">&times;</button>
		      </div>


		      <div class="modal-body">
		      	<div class="container">
		      		<div class="">
				      	<div class="col-md-6 mb-1">
				      		<%= link_to google_session_path do %>
										<%= image_tag("google-button.png") %>
									<% end %>
								</div>


								<div class="col-md-6 mb-1">
									<%= link_to linkedin_session_path do %>
										<%= image_tag("linkedin-button.png") %>
									<% end %>
								</div>


								<div class="col-md-6">
									<%= link_to twitter_session_path do %>
										<%= image_tag("twitter-button.png") %>
									<% end %>
								</div>
						</div>
					</div>

				<div class = "text-center mt-3">
						<p style="color:#000"> Or </p>
				</div>

				<div class = "text-center mt-3">
						<%= link_to	signup_path do %>
							<p style="color:#000"><strong> Create a Spitball Account </p></strong>
						<% end %>
				</div>
		   </div>
		      <div class="modal-footer text-center">
		      	By continuing through any of the above providers you consent to Spitball's Terms & Conditions and Privacy Policy
		      </div>
		    </div>
		  </div>
		</div>
