<div class="index-page">
    <div class="header">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="http://localhost:3000/#"><img src="<%= asset_path('mobile-version-logo-copy@2x.png') %>" alt="Mobile version logo copy@2x"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="http://localhost:3000/#">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:3000/#">Get in touch</a>
                    </li>
                    <li class="nav-item hide-mobile">
                        <span class="nav-link">&nbsp;</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:3000/#">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:3000/#">Sign up</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row header-content">
            <div class="col-md-6 header-text">
                <h1 class="heading">Main header will <br>
                    be placed here</h1>
                <p class="description">Sub header with an attractive call<br>
                    to action will be placed here</p>
                <div class="form">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control get-started-input" placeholder="My Idea is called…">
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-default btn-get-started">Get Started</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 header-image">
                <img class="image" src="<%= asset_path('landing-page-main-illustration.svg') %>" alt="Landing page main illustration">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="next-section">
                    <div class="howitworks">How it works?</div>
                    <img class="scrolldown" src="<%= asset_path('landing-page-scroll-down.png') %>" alt="Landing page scroll down">
                </div>
            </div>
        </div>
    </div>
    <div class="step1">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="row ideation">
            <div class="background-image"></div>
            <div class="col-md-7 image-container">
                <div class="left">
                    <div class="composer">
                        <div class="bg">
                            <img class="bg1" src="<%= asset_path('landing-page-bg-5.png') %>" alt="Landing page bg 5">
                        </div>
                        <div class="total">
                            <div class="loremipsumdolorsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                        </div>
                        <div class="tabs">
                            <img class="separator" src="<%= asset_path('landing-page-separator.png') %>" alt="Landing page separator">
                            <img class="activetabline" src="<%= asset_path('landing-page-active-tab-line-1.png') %>" alt="Landing page active tab line 1">
                            <div class="newidea">New Idea</div>
                            <img class="ifedit2199097" src="<%= asset_path('landing-page-ifedit2199097@2x.png') %>" alt="Landing page ifedit2199097@2x">
                        </div>
                    </div>
                    <div class="idea">
                        <img class="bg" src="<%= asset_path('landing-page-bg-15.png') %>" alt="Landing page bg 15">
                        <img class="arrowpointingtoright" src="<%= asset_path('landing-page-arrow-pointing-to-right-3@2x.png') %>" alt="Landing page arrow pointing to right 3@2x">
                        <div class="viewdetails">View Details</div>
                        <div class="loremipsumdolorsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et…</div>
                        <div class="info">Info:</div>
                        <div class="header1">
                            <div class="socialmediaapp">Social Media App</div>
                            <img class="oval2" src="<%= asset_path('landing-page-oval-2-3@2x.png') %>" alt="Landing page oval 2 3@2x">
                            <img class="flash" src="<%= asset_path('landing-page-flash-3@2x.png') %>" alt="Landing page flash 3@2x">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 text-container">
                <div class="circles">
                    <div class="rectangle7"></div>
                    <div class="rectangle71"></div>
                    <div class="rectangle72"></div>
                    <div class="rectangle73"></div>
                    <div class="rectangle74"></div>
                    <div class="rectangle75"></div>
                    <div class="rectangle76"></div>
                    <div class="rectangle77"></div>
                    <div class="rectangle78"></div>
                </div>
                <div class="bg">
                    <img class="bg1" src="<%= asset_path('landing-page-bg-11@2x.png') %>" alt="Landing page bg 11@2x">
                </div>
                <img class="pencil" src="<%= asset_path('landing-page-pencil.png') %>" alt="Landing page pencil">
                <div class="text">
                    <div class="a1shareyouridea">
                        <span class="span1">1.</span>
                        <span class="span2"> Share<br></span>
                        <span class="span3">your idea</span>
                    </div>
                    <div class="loremipsumdolorsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row feedback">
        <div class="col-md-7">
            <div class="left">
                <div class="buttoncopy">
                    <button class="btn btn-default btn-join">Join Our Community</button>
                </div>
                <div class="text">
                    <div class="loremipsumdolorsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                    <div class="a2getloveandfeed">
                        <span class="span1">2.</span>
                        <span class="span2"> Get love</span>
                        <span class="span3"><br>and feedback</span>
                    </div>
                </div>
                <div class="circles">
                    <div class="rectangle7"></div>
                    <div class="rectangle71"></div>
                    <div class="rectangle72"></div>
                    <div class="rectangle73"></div>
                    <div class="rectangle74"></div>
                    <div class="rectangle75"></div>
                    <div class="rectangle76"></div>
                    <div class="rectangle77"></div>
                    <div class="rectangle78"></div>
                </div>
                <div class="bg">
                    <img class="bg1" src="<%= asset_path('landing-page-bg-10@2x.png') %>" alt="Landing page bg 10@2x">
                </div>
                <img class="like" src="<%= asset_path('landing-page-like.png') %>" alt="Landing page like">
                <div class="background-image"></div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="right">
                <div class="message-left" id="message1">
                    <img class="bg" src="<%= asset_path('landing-page-bg-6@2x.png') %>" alt="Landing page bg 6@2x">
                    <img class="image" src="<%= asset_path('landing-page-image@2x.png') %>" alt="Landing page image@2x">
                    <div class="loremipsumdolorsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed dohsko eiusmod tempor incididunt </div>
                </div>
                <div class="message-right" id="message2">
                    <div class="image">
                        <div class="mask"></div>
                        <img class="image1" src="<%= asset_path('landing-page-image-1@2x.png') %>" alt="Landing page image 1@2x">
                    </div>
                    <img class="bg" src="<%= asset_path('landing-page-bg-7@2x.png') %>" alt="Landing page bg 7@2x">
                    <div class="loremipsumdolorsi">Lorem ipsum dolor sit amet, ssnjioo consectetur adipiscing elit</div>
                </div>
                <div class="message-left" id="message3">
                    <div class="image">
                        <div class="mask"></div>
                        <img class="image1" src="<%= asset_path('landing-page-image-2@2x.png') %>" alt="Landing page image 2@2x">
                    </div>
                    <img class="bg" src="<%= asset_path('landing-page-bg-6@2x.png') %>" alt="Landing page bg 6@2x">
                    <div class="loremipsumdolorsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed dohsko eiusmod tempor incididunt </div>
                </div>
            </div>
        </div>
    </div>
    <div class="incubator">
        <div class="row">
            <div class="col-md-7">
                <img src="<%= asset_path('landing-page-group.svg') %>" alt="Landing page group">
            </div>
            <div class="col-md-5">
                <div class="right">
                    <div class="text">
                        <div class="a3accessourincuba">
                            <span class="span1">3.</span>
                            <span class="span2"> Access</span>
                            <span class="span3">our incubator</span>
                        </div>
                        <div class="loremipsumdolorsi">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                    </div>
                    <div class="circles">
                        <div class="rectangle7"></div>
                        <div class="rectangle71"></div>
                        <div class="rectangle72"></div>
                        <div class="rectangle73"></div>
                        <div class="rectangle74"></div>
                        <div class="rectangle75"></div>
                        <div class="rectangle76"></div>
                        <div class="rectangle77"></div>
                        <div class="rectangle78"></div>
                    </div>
                    <div class="bg">
                        <img class="bg1" src="<%= asset_path('landing-page-bg-5@2x.png') %>" alt="Landing page bg 5@2x">
                    </div>
                    <img class="ifbriefcase3228516" src="<%= asset_path('landing-page-ifbriefcase3228516.png') %>" alt="Landing page ifbriefcase3228516">
                    <div class="background-image"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row testing">
        <div class="col-md-5">
            <div class="left">
                <div class="buttoncopy">
                    <button class="btn btn-default btn-join">Join Our Community</button>
                </div>
                <div class="text">
                    <div class="loremipsumdolorsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                    <div class="a2getloveandfeed">
                        <span class="span1">4.</span>
                        <span class="span2"> Go live</span>
                        <span class="span3"><br>and test it out</span>
                    </div>
                </div>
                <div class="circles">
                    <div class="rectangle7"></div>
                    <div class="rectangle71"></div>
                    <div class="rectangle72"></div>
                    <div class="rectangle73"></div>
                    <div class="rectangle74"></div>
                    <div class="rectangle75"></div>
                    <div class="rectangle76"></div>
                    <div class="rectangle77"></div>
                    <div class="rectangle78"></div>
                </div>
                <div class="bg">
                    <img class="bg1" src="<%= asset_path('landing-page-bg-10@2x.png') %>" alt="Landing page bg 10@2x">
                </div>
                <img class="flask" src="<%= asset_path('landing-page-flask.png') %>" alt="Landing page flask">
                <div class="background-image"></div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="right">
                <img width="612px" src="<%= asset_path('landing-page-right@2x.png') %>" alt="Landing page right@2x">
            </div>
        </div>
    </div>
    <div class="call-to-action">
        <div class="readytostart">Ready to start?</div>
        <div class="loremipsumdolorsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporarily incididunt.</div>
        <div class="offset-md-6 form">
            <div class="row">
                <input type="text" class="form-control get-started-input" placeholder="My Idea is called…">
                <button class="btn btn-default btn-get-started">Get Started</button>
            </div>
        </div>
    </div>
    <div class="trending-ideas">
        <h1 class="title"><span class="span1">Trending</span><span class="span2"> Ideas</span></h1>
        <div class="ideas-list">
            <div class="ideas-item hide-mobile">
                <div class="item-container">
                    <div class="item-header">
          <span class="header-image-container">
            <img height="20px" src="<%= asset_path('flash@3x.png') %>" alt="Flash@3x">
          </span>
                        <span class="header-text">
            Social Media App
          </span>
                    </div>
                    <div class="item-content">
                        <div class="content-header">
                            Info:
                        </div>
                        <div class="content-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor jskious incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consec…
                        </div>
                    </div>
                    <div class="item-footer">
                        <span class="item-footer-btn">View Details <img src="<%= asset_path('landing-page-arrow-pointing-to-right-1.png') %>" alt="Landing page arrow pointing to right 1"></span>
                    </div>
                </div>
            </div>
            <div class="ideas-item hide-mobile">
                <div class="item-container">
                    <div class="item-header">
          <span class="header-image-container">
            <img height="20px" src="<%= asset_path('flash@3x.png') %>" alt="Flash@3x">
          </span>
                        <span class="header-text">
            Social Media App
          </span>
                    </div>
                    <div class="item-content">
                        <div class="content-header">
                            Info:
                        </div>
                        <div class="content-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor jskious incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consec…
                        </div>
                    </div>
                    <div class="item-footer">
                        <span class="item-footer-btn">View Details <img src="<%= asset_path('landing-page-arrow-pointing-to-right-1.png') %>" alt="Landing page arrow pointing to right 1"></span>
                    </div>
                </div>
            </div>
            <div class="ideas-item">
                <div class="item-container">
                    <div class="item-header">
          <span class="header-image-container">
            <img height="20px" src="<%= asset_path('flash@3x.png') %>" alt="Flash@3x">
          </span>
                        <span class="header-text">
            Social Media App
          </span>
                    </div>
                    <div class="item-content">
                        <div class="content-header">
                            Info:
                        </div>
                        <div class="content-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor jskious incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consec…
                        </div>
                    </div>
                    <div class="item-footer">
                        <span class="item-footer-btn">View Details <img src="<%= asset_path('landing-page-arrow-pointing-to-right-1.png') %>" alt="Landing page arrow pointing to right 1"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ideas-btns">
            <a class="ideas-btn left">
                <img width="15px" src="<%= asset_path('left-arrow@3x.png') %>" alt="Left arrow@3x">&nbsp;&nbsp; Previous
            </a>
            <a class="ideas-btn right">
                Next &nbsp;&nbsp;<img width="15px" src="<%= asset_path('right-arrow@3x.png') %>" alt="Right arrow@3x">
            </a>
        </div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-md-4">
                Privacy Policy&nbsp;&nbsp;|&nbsp;&nbsp;Terms
            </div>
            <div class="col-md-4">
                © 2018 Spitball. All Rights Reserved.
            </div>
            <div class="col-md-4">
                <div class="socialicons">
                    <img height="20px" src="<%= asset_path('github-character.png') %>" alt="Github character">
                    <img height="20px" src="<%= asset_path('linkedin.png') %>" alt="Linkedin">
                    <img height="20px" src="<%= asset_path('twitter.png') %>" alt="Twitter">
                </div>
            </div>
        </div>
    </div>
</div>
