
    <div class="index-page">
  <div class="header">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="http://localhost:3000/#"><%= image_tag("logo.png") %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:3000/#">About us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/#">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/#">Sign up</a>
          </li>
          <li class="nav-item">
            <span class="nav-link">&nbsp;</span>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row header-content h-100">
      <div class="col-md-6 header-text">
        <h1 class="heading">Ready to turn your idea into something real?</h1>
        <p class="description">
          Let's see what the people think
        </p>
        <div class="form">
          <div class="row">
         <!--   <div class="col-md-6">
              <input type="text" class="form-control get-started-input" placeholder="What problem are you solving?">
            </div> -->
            <div class="col-md-6">
              <button class="btn btn-default btn-get-started">Start Spitballing</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 header-image">
        <%= image_tag('landing-page-main-illustration.svg', class: "image") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="next-section">
          <div class="howitworks">How it works?</div>
          <%= image_tag('landing-page-scroll-down.png', class: "scrolldown") %>
        </div>
      </div>
    </div>
  </div>
  <div class="step1">
    <div class="row">
      <div class="text-center">
        <p class="title">
         Spitball is a community for entrepreneurs, thinkers and enthusiasts to bounce ideas, validate them, and turn them into the problem solving products of tomorrow. We're building a platform that facilitates a model for idea incubation based on targeted early potential customer feedback and leveraging an expanding network of executional talent to help provide the resources people need to make things happen.
        </p>
      </div>
    </div>
    <div class="row ideation">
      <div class="background-image"></div>
      <div class="col-md-7 image-container">
        <div class="left">
          <div class="composer">
            <div class="bg">
              <%= image_tag('landing-page-bg-5.png', class: "bg1") %>
            </div>
            <div class="total">
              <div class="loremipsumdolorsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
            </div>
            <div class="tabs">
              <%= image_tag("landing-page-separator.png", class: "separator") %>
              <%= image_tag("landing-page-active-tab-line-1.png", class: "activetabline") %>
              <div class="newidea">New Idea</div>
              <%= image_tag("landing-page-ifedit2199097@2x.png", class: "ifedit2199097") %>
            </div>
          </div>
          <div class="idea">
            <%= image_tag "landing-page-bg-15.png", class: "bg" %>
            <%= image_tag "landing-page-arrow-pointing-to-right-3@2x.png", class: "arrowpointingtoright" %>
            <div class="viewdetails">View Details</div>
            <div class="loremipsumdolorsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et…</div>
            <div class="info">Info:</div>
            <div class="header1">
              <div class="socialmediaapp">Social Media App</div>
              <%= image_tag "landing-page-oval-2-3@2x.png", class: "oval2" %>
              <%= image_tag "landing-page-flash-3@2x.png", class: "flash" %>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-5 text-container">
        <div class="circles">
          <div class="rectangle7"></div>
          <div class="rectangle71"></div>
          <div class="rectangle72"></div>
          <div class="rectangle73"></div>
          <div class="rectangle74"></div>
          <div class="rectangle75"></div>
          <div class="rectangle76"></div>
          <div class="rectangle77"></div>
          <div class="rectangle78"></div>
        </div>
        <div class="bg">
          <%= image_tag "landing-page-bg-11@2x.png", class: "bg1" %>
        </div>
        <%= image_tag "landing-page-pencil.png", class: "pencil" %>
        <div class="text">
          <!-- STEP 1 COPY GOES BELOW -->
          <div class="a1shareyouridea">
           <!-- <span class="span1">1.</span> -->
            <span class="span2"> Bounce<br></span>
            <span class="span3"> Ideas</span>
          </div>
          <div class="loremipsumdolorsi">You have an awesome idea or product that you're eager to turn into something. Are you sure people want what you're offering? </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row feedback">
    <div class="col-md-7">
      <div class="left">
        <div class="buttoncopy">
          <button class="btn btn-default btn-join">Join Our Community</button>
        </div>
        <div class="text">
          <!-- STEP 2 COPY GOES BELOW -->
          <div class="loremipsumdolorsi">So you have an idea, but does your target market think so too? We target your ideas to relevant users to gain organic early adopter feedback that you can use to optimize your concept </div>
          <div class="a2getloveandfeed">
            <span class="span1">2.</span>
            <span class="span2"> Validate</span>
            <span class="span3"><br>your idea</span>
          </div>
        </div>
        <div class="circles">
          <div class="rectangle7"></div>
          <div class="rectangle71"></div>
          <div class="rectangle72"></div>
          <div class="rectangle73"></div>
          <div class="rectangle74"></div>
          <div class="rectangle75"></div>
          <div class="rectangle76"></div>
          <div class="rectangle77"></div>
          <div class="rectangle78"></div>
        </div>
        <div class="bg">
          <%= image_tag "landing-page-bg-10@2x.png", class: "bg1" %>
        </div>
        <%= image_tag "landing-page-like.png", class: "like" %>
        <div class="background-image"></div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="right">
        <div class="message-left" id="message1">
          <%= image_tag "landing-page-bg-6@2x.png", class: "bg" %>
          <%= image_tag "landing-page-image@2x.png", class: "image" %>
          <div class="loremipsumdolorsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed dohsko eiusmod tempor incididunt </div>
        </div>
        <div class="message-right" id="message2">
          <div class="image">
            <div class="mask"></div>
            <%= image_tag "landing-page-image-1@2x.png", class: "image1" %>
          </div>
          <%= image_tag "landing-page-bg-7@2x.png", class: "bg" %>
          <div class="loremipsumdolorsi">Lorem ipsum dolor sit amet, ssnjioo consectetur adipiscing elit</div>
        </div>
        <div class="message-left" id="message3">
          <div class="image">
            <div class="mask"></div>
            <%= image_tag "landing-page-image-2@2x.png", class: "image1" %>
          </div>
          <%= image_tag "landing-page-bg-6@2x.png", class: "bg" %>
          <div class="loremipsumdolorsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed dohsko eiusmod tempor incididunt </div>
        </div>
      </div>
    </div>
  </div>
  <div class="incubator">
      <div class="row">
        <div class="col-md-7">
          <%= image_tag "landing-page-group.svg" %>
        </div>
        <div class="col-md-5">
          <div class="right">
            <div class="text">
              <!-- STEP 3 COPY GOES BELOW -->
              <div class="a3accessourincuba">
                <span class="span1">3.</span>
                <span class="span2"> Access<br>our incubator</span>
              </div>
              <div class="loremipsumdolorsi">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>
            <div class="circles">
              <div class="rectangle7"></div>
              <div class="rectangle71"></div>
              <div class="rectangle72"></div>
              <div class="rectangle73"></div>
              <div class="rectangle74"></div>
              <div class="rectangle75"></div>
              <div class="rectangle76"></div>
              <div class="rectangle77"></div>
              <div class="rectangle78"></div>
            </div>
            <div class="bg">
              <%= image_tag "landing-page-bg-5@2x.png", class: "bg1"  %>
            </div>
            <%= image_tag "landing-page-ifbriefcase3228516.png", class: "ifbriefcase3228516"  %>
            <div class="background-image"></div>
          </div>
        </div>
      </div>
    </div>
  <div class="row testing">
      <div class="col-md-5">
        <div class="left">
          <div class="buttoncopy">
            <button class="btn btn-default btn-join">Join Our Community</button>
          </div>
          <div class="text">
            <!-- STEP 4 COPY GOES BELOW -->
            <div class="loremipsumdolorsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
            <div class="a2getloveandfeed">
              <span class="span1">4.</span>
              <span class="span2"> Go live</span>
              <span class="span3"><br>and test it out</span>
            </div>
          </div>
          <div class="circles">
            <div class="rectangle7"></div>
            <div class="rectangle71"></div>
            <div class="rectangle72"></div>
            <div class="rectangle73"></div>
            <div class="rectangle74"></div>
            <div class="rectangle75"></div>
            <div class="rectangle76"></div>
            <div class="rectangle77"></div>
            <div class="rectangle78"></div>
          </div>
          <div class="bg">
            <%= image_tag "landing-page-bg-10@2x.png", class: "bg1" %>
          </div>
          <%= image_tag "landing-page-flask.png", class: "flask" %>
          <div class="background-image"></div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="right">
          <%= image_tag "landing-page-right@2x.png", width: "612px" %>
        </div>
      </div>
    </div>
  <div class="call-to-action">
    <div class="readytostart">Ready to start?</div>
    <div class="loremipsumdolorsi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporarily incididunt.</div>
    <div class="offset-md-6 form">
      <div class="row">
          <input type="text" class="form-control get-started-input" placeholder="My Idea is called…">
          <button class="btn btn-default btn-get-started">Get Started</button>
      </div>
    </div>
  </div>
  <div class="trending-ideas">
    <h1 class="title"><span class="span1">Trending</span><span class="span2"> Ideas</span></h1>
    <div class="ideas-list">
      <div class="ideas-item">
        <div class="item-container">
          <div class="item-header">
            <span class="header-image-container">
              <%= image_tag "flash@3x.png", height: "20px" %>
            </span>
            <span class="header-text">
              Social Media App
            </span>
          </div>
          <div class="item-content">
            <div class="content-header">
              Info:
            </div>
            <div class="content-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor jskious incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consec…
            </div>
          </div>
          <div class="item-footer">
            <span class="item-footer-btn">View Details <%= image_tag "landing-page-arrow-pointing-to-right-1.png" %></span>
          </div>
        </div>
      </div>
      <div class="ideas-item">
        <div class="item-container">
          <div class="item-header">
            <span class="header-image-container">
              <%= image_tag "flash@3x.png", height: "20px" %>
            </span>
            <span class="header-text">
              Social Media App
            </span>
          </div>
          <div class="item-content">
            <div class="content-header">
              Info:
            </div>
            <div class="content-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor jskious incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consec…
            </div>
          </div>
          <div class="item-footer">
            <span class="item-footer-btn">View Details <%= image_tag "landing-page-arrow-pointing-to-right-1.png" %></span>
          </div>
        </div>
      </div>
      <div class="ideas-item">
        <div class="item-container">
          <div class="item-header">
            <span class="header-image-container">
              <%= image_tag "flash@3x.png", height: "20px" %>
            </span>
            <span class="header-text">
              Social Media App
            </span>
          </div>
          <div class="item-content">
            <div class="content-header">
              Info:
            </div>
            <div class="content-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor jskious incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consec…
            </div>
          </div>
          <div class="item-footer">
            <span class="item-footer-btn">View Details <%= image_tag "landing-page-arrow-pointing-to-right-1.png" %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="ideas-btns">
      <a class="ideas-btn left">
        <%= image_tag "left-arrow@3x.png", width: "15px" %>&nbsp;&nbsp; Previous
      </a>
      <a class="ideas-btn right">
        Next &nbsp;&nbsp;<%= image_tag "right-arrow@3x.png", width: "15px" %>
      </a>
    </div>
  </div>
  <div class="footer">
    <div class="row">
      <div class="col-md-4">
        Privacy Policy&nbsp;&nbsp;|&nbsp;&nbsp;Terms
      </div>
      <div class="col-md-4">
        © 2018 Spitball. All Rights Reserved.
      </div>
      <div class="col-md-4">
        <div class="socialicons">
          <%= image_tag "github-character.png", height: "20px" %>
          <%= image_tag "linkedin.png", height: "20px" %>
          <%= image_tag "twitter.png", height: "20px" %>
        </div>
      </div>
    </div>
  </div>
</div>



