<div class="index-page">
    <div class="header">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="<%= wads_path %>"><img src="<%= asset_path('mobile-version-logo-copy@2x.png') %>" alt="Mobile version logo copy@2x"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>

                <ul class="navbar-nav ml-auto">
                  <!--  <li class="nav-item">
                        <a class="nav-link" href="/about">About us</a>
                    </li> -->
                    <li class="nav-item hide-mobile">
                        <span class="nav-link">&nbsp;</span>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link pointer">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pointer" data-toggle="modal" data-target="#myModal">Sign up</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row header-content">
            <div class="col-md-6 header-text">
                <h1 class="heading">Ready to turn your idea into something real?</h1>
          <!--      <p class="description">Sub header with an attractive call<br>
                    to action will be placed here</p> -->
                <div class="form">
                    <div class="row">
                 <!--       <div class="col-md-6">
                            <input type="text" class="form-control get-started-input" placeholder="My Idea is called…">
                        </div> -->
                        <div class="col-md-6">
                            <button class="btn btn-default btn-get-started" data-toggle="modal" data-target="#myModal">Let's Execute</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 header-image">
                <img class="image" src="<%= asset_path('landing-page-main-illustration.svg') %>" alt="Landing page main illustration">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="next-section">
                    <div class="howitworks">How it works</div>
                    <img id="landing-btn" class="scrolldown pointer" src="<%= asset_path('landing-page-scroll-down.png') %>" alt="Landing page scroll down">
                </div>
            </div>
        </div>
    </div>
    <div id="what-we-do" class="step1">
        <div class="row">
            <div class="col-md-10 text-center mx-auto">
                <p class="title strong mt-2">Spitball is a platform for entrepreneurs, thinkers and enthusiasts to bounce ideas, validate them, and collaborate with each other to turn ideas into the products of tomorrow.</p>
            </div>
        </div>
        <div class="row ideation">
            <div class="background-image"></div>
            <div class="col-md-7 image-container">
                <div class="left">
                    <div class="composer">
                        <div class="bg">
                            <img class="bg1" src="<%= asset_path('landing-page-bg-5.png') %>" alt="Landing page bg 5">
                        </div>
                        <div class="total">
                            <div class="loremipsumdolorsi">There should be a platform dedicated to enthusiasts and aspiring entrepreneurs that allows them to validate their concept through targeted feedback, and provide resources and access to the tools needed to be entrepreneurs.</div>
                        </div>
                        <div class="tabs">
                            <img class="separator" src="<%= asset_path('landing-page-separator.png') %>" alt="Landing page separator">
                            <img class="activetabline" src="<%= asset_path('landing-page-active-tab-line-1.png') %>" alt="Landing page active tab line 1">
                            <div class="newidea">New Idea</div>
                            <img class="ifedit2199097" src="<%= asset_path('landing-page-ifedit2199097@2x.png') %>" alt="Landing page ifedit2199097@2x">
                        </div>
                    </div>
                    <div class="idea">
                        <img class="bg" src="<%= asset_path('landing-page-bg-15.png') %>" alt="Landing page bg 15">
                        <div class="loremipsumdolorsi">What if there was a platform that gave people an opportunity to validate their ideas via targeted feedback from their relevant market, and connect with people who can help them take their ideas to the next level. We'd start by targeting people's ideas to the relevant parties ne...
                        </div>
                        <div class="info"></div>
                        <div class="header1">
                            <div class="socialmediaapp">It's too hard for people to take action on their ideas</div>
                            <img class="oval2" src="<%= asset_path('landing-page-oval-2-3@2x.png') %>" alt="Landing page oval 2 3@2x">
                            <img class="flash" src="<%= asset_path('landing-page-flash-3@2x.png') %>" alt="Landing page flash 3@2x">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 text-container">
                <div class="circles">
                    <div class="rectangle7"></div>
                    <div class="rectangle71"></div>
                    <div class="rectangle72"></div>
                    <div class="rectangle73"></div>
                    <div class="rectangle74"></div>
                    <div class="rectangle75"></div>
                    <div class="rectangle76"></div>
                    <div class="rectangle77"></div>
                    <div class="rectangle78"></div>
                </div>
                <div class="bg">
                    <img class="bg1" src="<%= asset_path('landing-page-bg-11@2x.png') %>" alt="Landing page bg 11@2x">
                </div>
                <img class="pencil" src="<%= asset_path('landing-page-pencil.png') %>" alt="Landing page pencil">
                <div class="text">
                    <div class="a1shareyouridea">
                        <span class="span1"></span>
                        <span class="span2"> Ideation <br></span>
                    <!--    <span class="span3">your idea</span> -->
                    </div>
                    <div class="loremipsumdolorsi">You have an idea for something awesome or are building something you think is cool, but aren't sure what the best next step for growth is.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row feedback">
        <div class="col-md-7">
            <div class="left">
                <div class="buttoncopy">
                  <div data-toggle="modal" data-target="#myModal" class="col-9 pop position-absolute pointer" style="height:30px">

                  </div>
                  <div data-toggle="modal" data-target="#myModal" class="col-9 pop position-absolute mt-4 pointer" style="height:30px">

                  </div>
                  <div>
                    <button class="btn btn-default btn-join pointer mt-2" data-toggle="modal" data-target="#myModal">Join The Community</button>
                  </div>
                </div>
                <div class="text">
                    <div class="loremipsumdolorsi">We target your idea to users we think are representative of your target market. This helps you validate your idea and is a chance to connect with people who can help develop the product and get it to market. </div>
                    <div class="a2getloveandfeed">
                        <span class="span1"></span>
                        <span class="span2"> Market Validation</span>
                    <!--    <span class="span3"><br>and feedback</span> -->
                    </div>
                </div>
                <div class="circles">
                    <div class="rectangle7"></div>
                    <div class="rectangle71"></div>
                    <div class="rectangle72"></div>
                    <div class="rectangle73"></div>
                    <div class="rectangle74"></div>
                    <div class="rectangle75"></div>
                    <div class="rectangle76"></div>
                    <div class="rectangle77"></div>
                    <div class="rectangle78"></div>
                </div>
                <div class="bg">
                    <img class="bg1" src="<%= asset_path('landing-page-bg-10@2x.png') %>" alt="Landing page bg 10@2x">
                </div>
                <img class="like" src="<%= asset_path('landing-page-like.png') %>" alt="Landing page like">
                <div class="background-image"></div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="right">
                <div class="message-left" id="message1">
                    <img class="bg" src="<%= asset_path('landing-page-bg-6@2x.png') %>" alt="Landing page bg 6@2x">
                    <img class="image" src="<%= asset_path('landing-page-image@2x.png') %>" alt="Landing page image@2x">
                    <div class="loremipsumdolorsi">Hey I'm a software engineer and have been thinking about building something similar to what you've described. Dm me! </div>
                </div>
                <div class="message-right" id="message2">
                    <div class="image">
                        <div class="mask"></div>
                        <img class="image1" src="<%= asset_path('landing-page-image-1@2x.png') %>" alt="Landing page image 1@2x">
                    </div>
                    <img class="bg" src="<%= asset_path('landing-page-bg-7@2x.png') %>" alt="Landing page bg 7@2x">
                  <div class="loremipsumdolorsi">I like the technology, but think you should think of an enterprise application </div>
                </div>
                <div class="message-left" id="message3">
                    <div class="image">
                        <div class="mask"></div>
                        <img class="image1" src="<%= asset_path('landing-page-image-2@2x.png') %>" alt="Landing page image 2@2x">
                    </div>
                    <img class="bg" src="<%= asset_path('landing-page-bg-6@2x.png') %>" alt="Landing page bg 6@2x">
                    <div class="loremipsumdolorsi">Please make this happen!!!! </div>
                </div>
            </div>
        </div>
    </div>
    <div class="incubator">
        <div class="row">
            <div class="col-md-7 mt-3">
                <img src="<%= asset_path('landing-page-group.svg') %>" alt="Landing page group">
            </div>
            <div class="col-md-5">
                <div class="right">
                    <div class="text">
                        <div class="a3accessourincuba">
                          <!--  <span class="span1"></span> -->
                            <span class="span2"> Incubation</span>
                        </div>
                        <div class="loremipsumdolorsi">
                            Once a market is validated for your idea, we connect with domain experts in our network to make a recommendation on the best next step for acceleration. We'll work to optimize the execution of the idea, think about what a minimum viable product would look like and set things up for success. Look out for features like <strong> Spitball Campaigns</strong> and <strong>Spitball Workspace</strong> coming soon.
                        </div>
                    </div>
                    <div class="circles">
                        <div class="rectangle7"></div>
                        <div class="rectangle71"></div>
                        <div class="rectangle72"></div>
                        <div class="rectangle73"></div>
                        <div class="rectangle74"></div>
                        <div class="rectangle75"></div>
                        <div class="rectangle76"></div>
                        <div class="rectangle77"></div>
                        <div class="rectangle78"></div>
                    </div>
                    <div class="bg">
                        <img class="bg1" src="<%= asset_path('landing-page-bg-5@2x.png') %>" alt="Landing page bg 5@2x">
                    </div>
                    <img class="ifbriefcase3228516" src="<%= asset_path('landing-page-ifbriefcase3228516.png') %>" alt="Landing page ifbriefcase3228516">
                    <div class="background-image"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row testing">
        <div class="col-md-5">
            <div class="left">
                <div class="buttoncopy">
                  <div class="">
                    <button class="btn btn-default btn-join pointer position-absolute">Join the Community</button>
                  </div>
                  <div data-toggle="modal" data-target="#myModal" class="col-9 pop position-absolute pointer" style="height:30px">

                  </div>
                  <div data-toggle="modal" data-target="#myModal" class="col-9 pop position-absolute mt-4 pointer" style="height:30px">

                  </div>
                </div>
                <div class="text">
                    <div class="loremipsumdolorsi">We accelerate the idea. This will look different for each case: it might mean an app prototype, or maybe a pop-up shop. We will help you build a team, facilitate collaboration and help get the funding necessary to develop a minimum viable product, and position it for fast growth and success.</div>
                    <div class="a2getloveandfeed">
                        <span class="span1"></span>
                        <span class="span2">Testing</span>
                    </div>
                </div>
                <div class="circles">
                    <div class="rectangle7"></div>
                    <div class="rectangle71"></div>
                    <div class="rectangle72"></div>
                    <div class="rectangle73"></div>
                    <div class="rectangle74"></div>
                    <div class="rectangle75"></div>
                    <div class="rectangle76"></div>
                    <div class="rectangle77"></div>
                    <div class="rectangle78"></div>
                </div>
                <div class="bg">
                    <img class="bg1" src="<%= asset_path('landing-page-bg-10@2x.png') %>" alt="Landing page bg 10@2x">
                </div>
                <img class="flask" src="<%= asset_path('landing-page-flask.png') %>" alt="Landing page flask">
                <div class="background-image"></div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="right">
                <img width="612px" src="<%= asset_path('landing-page-right@2x.png') %>" alt="Landing page right@2x">
            </div>
        </div>
    </div>
    <div class="call-to-action">
        <div class="readytostart">Ready to build the future?</div>
        <div class="loremipsumdolorsi">Join today and influence the development of tomorrow's products</div>
        <div class="offset-md-6 form">
            <div class="row">
                <input type="text" class="form-control get-started-input" placeholder="The world is missing...">
                <button class="btn btn-default btn-get-started"> <a data-toggle="modal" data-target="#myModal" class="nav-link pointer">Get Started</a></button>
            </div>
        </div>
    </div>
    <% unless !@rankedwads[2] %>
    <div class="trending-ideas">
        <h1 class="title"><span class="span1">Trending</span><span class="span2"> Ideas</span></h1>
        <div class="ideas-list">
            <div class="ideas-item hide-mobile">
                <div class="item-container">
                    <div class="item-header">
          <span class="header-image-container">
            <img height="20px" src="<%= asset_path('flash@3x.png') %>" alt="Flash@3x">
          </span>
          <span class="header-text">
            <%= @rankedwads[0].problem_state.truncate(25) %>
          </span>
                    </div>
                    <div class="item-content">
                        <div class="content-header">

                        </div>
                        <div class="content-text">
                       <%=  @rankedwads[0].long_form.truncate(238) %>
                        </div>
                    </div>
                    <div class="item-footer">
                        <ahref data-toggle="modal" data-target="#myModal" href="/wads" class="item-footer-btn pointer">View More <img src="<%= asset_path('landing-page-arrow-pointing-to-right-1.png') %>" alt="Landing page arrow pointing to right 1"></a>
                    </div>
                </div>
            </div>
            <div class="ideas-item hide-mobile">
                <div class="item-container">
                    <div class="item-header">
          <span class="header-image-container">
            <img height="20px" src="<%= asset_path('flash@3x.png') %>" alt="Flash@3x">
          </span>
                        <span class="header-text">
            <%= @rankedwads[1].problem_state.truncate(25) %>
          </span>
                    </div>
                    <div class="item-content">
                        <div class="content-header">
                        </div>
                        <div class="content-text">
                            <%= @rankedwads[1].long_form.truncate(238) %>
                        </div>
                    </div>
                    <div class="item-footer">
                        <ahref data-toggle="modal" data-target="#myModal" href="/wads" class="item-footer-btn pointer">View More <img src="<%= asset_path('landing-page-arrow-pointing-to-right-1.png') %>" alt="Landing page arrow pointing to right 1"></a>
                    </div>
                </div>
            </div>
            <div class="ideas-item">
                <div class="item-container">
                    <div class="item-header">
          <span class="header-image-container">
            <img height="20px" src="<%= asset_path('flash@3x.png') %>" alt="Flash@3x">
          </span>
                        <span class="header-text">
            <%= @rankedwads[2].problem_state.truncate(25) %>
          </span>
                    </div>
                    <div class="item-content">
                        <div class="content-header">
                        </div>
                        <div class="content-text">
                            <%= @rankedwads[2].long_form.truncate(238) %>
                        </div>
                    </div>
                    <div class="item-footer">
                        <ahref data-toggle="modal" data-target="#myModal" href="/wads" class="item-footer-btn pointer">View More <img src="<%= asset_path('landing-page-arrow-pointing-to-right-1.png') %>" alt="Landing page arrow pointing to right 1"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ideas-btns">
            <a data-toggle="modal" data-target="#myModal" class="ideas-btn left pointer">
                <img width="15px" src="<%= asset_path('left-arrow@3x.png') %>" alt="Left arrow@3x">&nbsp;&nbsp; Previous
            </a>
            <a data-toggle="modal" data-target="#myModal" class="ideas-btn right pointer">
                Next &nbsp;&nbsp;<img width="15px" src="<%= asset_path('right-arrow@3x.png') %>" alt="Right arrow@3x">
            </a>
        </div>
    </div>
    <% end %>
    <div class="footer">
        <div class="row">
            <div class="col-md-4">
              <%= link_to "Privacy Policy & Terms", terms_path, {style: "color: white"} %>
            </div>
            <div class="col-md-4">
                © 2018 Spitball. All Rights Reserved.
            </div>
            <div class="col-md-4">
                <div class="socialicons">
                    <img height="20px" src="<%= asset_path('github-character.png') %>" alt="Github character">
                    <img height="20px" src="<%= asset_path('linkedin.png') %>" alt="Linkedin">
                    <img height="20px" src="<%= asset_path('twitter.png') %>" alt="Twitter">
                </div>
            </div>
        </div>
    </div>
</div>
