<div class="mt-3">
	<% if @wads.blank? && @discussions.blank? && @users.blank? %>
		There's no content containing '<%= params[:search] %>' on Spitball.
	<% end %>
</div>	
<div class="row mt-2">

	<% if @wads.present? %>
		<div class="col-8">
			<h4 class="text-center">Wads</h4>
			<% @wads.each do |wad| %>
				<%= render wad %>
			<% end %>			
		</div>
	<% end %>

	<% if @discussions.present? %>
		<div class="col-8">
			<h4 class="text-center">Discussions</h4>
			<% @discussions.each do |discussion| %>
				<%= render discussion %>
			<% end %>
		</div>
	<% end %>

	<% if @users.present? %>
		<div class="col-4">
			<h4 class="text-center">Users</h4>
			<% @users.each do |user| %>
					<%= render user %>
			<% end %>
		</div>
	<% end %>
</div>
<div>
	<% @all_wads.each do |wad| %>
		<%= render wad %>
	<% end %>
</div>
