<% if @over_ten %>
 	<%= link_to "Show Previous", "?m=all" %>
<% end %>
<div class="ui">
	<%= link_to conversations_path do %>
	    <button class="navbutton mt-4 shadow-sm"><%= fa_icon("arrow-left 2x") %></button>
	<% end %> 
	<div class="ml-5">
		 <% @messages.each do |message| %>
		  <% if message.body %>
		   <% user = User.find(message.user_id) %>
		   <div class="item mt-3">
		    <div class=”content”>
		     <div class=”header”><strong><%= user.first_name %></strong>    
		      <div class=”list”>
		       <div class=”item”>
		        <i class=”right triangle icon”></i>
		         <%= message.body %>
		      </div>
		    </div>
		   </div>
		 </div>
		 <% end %>
		<% end %>
		</div>
	</div>


	<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
	 <div class=”field”>
	   <%= f.text_area :body, class: "form-control"%>
	 </div>
	 <%= f.text_field :user_id, value: current_user.id, type: "hidden"%>
	 <div>
	   <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
	 </div>
	<% end %>