<div class="col-12 col-md-9">
<% if @over_ten %>
 	<%= link_to "Show Previous", "?m=all", class: "profile-link" %>
<% end %>
<div class="ui">
	<%= link_to fa_icon("envelope", class: "profile-link pr-3"), conversations_path %>
	<div class="ml-5">




		<% @messages.each do |message| %>
		<% if message.body %>
		 <% user = User.find(message.user_id) %>
			  <div class="item mt-3">
				   <div class="header"><strong><%= user.first_name %></strong>    
				     <div class="list">
				       <div class="item">
				 			<div class="content">
				         		<%= message.body %>
					      	</div>
					    </div>
					  </div>
					</div>
		<% end %>
		<% end %>
		</div>
		
</div>




	<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
	 <div class="message-box">
	   <%= f.text_area :body, class: "form-control"%>
	 </div>

	
	  <button type="submit", class="send-button", style="display: inline">
	 	<i class="nav-link fa fa-paper-plane"></i>
	 </button>



	 <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>


	<% end %>
</div>

