<div class="col-12 mt-5">
  <% provide(:title, "Log in") %>

  <h5 class="text-center mt-5">
      Log in with
</h5>
  <div class="row mt-3 mb-5">
            <div class="col">
              <%= link_to google_session_path do %>
                  <div class="btn btn-block btn-social btn-google" style="color:white">
                  <span class="fa fa-google"></span> Google
                </div>
              <% end %>
            </div>


                <div class="col">
               <%= link_to linkedin_session_path do %>
                  <div class="btn btn-block btn-social btn-linkedin" style="color:white">
                  <span class="fa fa-linkedin"></span> LinkedIn
                </div>
              <% end %>
            </div>

            <div class="col">
              <%= link_to twitter_session_path do %>
                <div class="btn btn-block btn-social btn-twitter" style="color:white">
                  <span class="fa fa-twitter"></span> Twitter
                </div>
              <% end %>
            </div>
          </div>
        </div>
  </div>

  <p class="text-center mb-4">or log in with your Spitball Account (Don't have an Account? <%= link_to "Sign up now!)", new_user_path %></span></p> 

  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= form_for(:session, url: sessions_path) do |f| %>

        <div class="form-group">
          <%= f.email_field :email, placeholder: "Email", class: "form-control comment-reply-form border-bottom placeHolder" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, placeholder: "Password", class: "form-control comment-reply-form border-bottom placeHolder" %>        <%= link_to  "Forgot Your Password?", new_password_reset_path, class:"profile-link" %>
        </div>

        <div>
          <div class="text-center">
            <%= f.label :remember_me, class: "checkbox inline" do %>
              <%= f.check_box :remember_me %>
              <span>Remember me on this computer</span> 
            <% end %>
          </div>
        </div>
        
          <div class="text-center">
            <%= f.submit "Log in", class: "Spitballbutton" %>
          </div>
      <% end %>
    </div>
  </div>
  <%= render 'static_pages/landing_modal' %>
</div>
