<div class="col-md-8 col-12 row text-center">

	<div class="col-12 text-right">
		<% if current_user == discussion.user %>
	      <span id="trash-<%= discussion.id %>" class="trash mr-5"> <%= link_to fa_icon("trash", class: "profile-link pr-3"), discussion_path(discussion), method: :delete, remote: true%></span>
	    <% end %>
	    
	    <% if current_user.voted_down_on? discussion %>
	    	<span id="discussion-vote-span-<%= discussion.id %>"><%= link_to fa_icon("chevron-circle-up", class: "profile-link"), like_discussion_path(discussion), method: :put, remote: true %></span>
	   	<% elsif !current_user.voted_for? discussion %>
	    	<span id="discussion-vote-span-<%= discussion.id %>"><%= link_to fa_icon("chevron-circle-up", class: "profile-link"), like_discussion_path(discussion), method: :put, remote: true %></span>	   		
	    <% else %>
	    	<span id="discussion-vote-span-<%= discussion.id %>"><%= link_to fa_icon("chevron-circle-down", class: "profile-link"), dislike_discussion_path(discussion), method: :put, remote: true %></span>
	    <% end %>
	     	<span data-check="<%= current_user.voted_for? discussion %>" id="like-<%= discussion.id %>" class="nowrap"> <%= discussion.get_upvotes.size %> </span>
    </div>
</div>
