<% @discussions.each do |discussion| %>
		<div class="card mb-2">
			<div class="my-1 col-12 small border-bottom">
				<div class="d-inline">
				<%= link_to discussion.user.name, discussion.user, class: "profile-link" %> asks...
				</div>
				<div class="float-right d-inline">
					options
				</div>
			</div>
			<div onclick="execReply('<%= discussion.id%>')" class="">
				<div class="col-12 my-2 text-center">
					<em>"<%= discussion.title %>"</em>
				</div>
			</div>
			<div id="reply-<%=discussion.id%>" class="reply-hide-area">
				<div onclick="execReply('<%= discussion.id%>')" class="text-center col-12">
					<% if discussion.content %><%= discussion.content %><% end %>
				</div>
				<div class="col-12">
					<div class="">
						<%= render 'answers/form', discussion: discussion %>
					</div>
					<div id="new_answer-<%= discussion.id %>" class="">
					<!--Where new answers go -->
					</div>
					<div class="">
						<% discussion.answers.each do |answer| %>
							<%= render 'discussions/answer', answer: answer %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
<% end %>
