<% @discussions.each do |discussion| %>
		<div class="card mb-2">
			<div class="col-12 small border-bottom" style="background-color: rgb(247,247,247);">
				<div class="d-inline my-1">
					<%= link_to discussion.user.first_name, discussion.user, class: "profile-link" %> asks...
				</div>
				<div class="float-right d-inline dropdown dropleft">
					<span class="pointer" id="shareDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          <%= fa_icon('ellipsis-v') %>
			     </span>
					 <div class="dropdown-menu" aria-labelledby="shareDropdown">
						 <span class="dropdown-item"><%= link_to fa_icon('flag', class: "profile-link pointer") + " Flag Discussion", flag_discussion_path(discussion), remote: true, class: "profile-link" %></span>
						 <% if current_user == discussion.user %>
						 <span class="dropdown-item "><%= link_to fa_icon("trash", class: "profile-link pointer") + " Remove Discussion", discussion_path(discussion), method: :delete, remote: true, class: "profile-link" %></span>
						 <% end %>
					 </div>
				</div>
			</div>
			<div onclick="execReply('<%= discussion.id%>')" class="pointer">
				<div class="col-12 my-2">
					<b><%= discussion.title %>?</b>
				</div>
				<div class="col-12">
					<% if discussion.content %><%= discussion.content %><% end %>
				</div>
			</div>


			<div id="reply-<%=discussion.id%>" class="reply-hide-area">
				<div class="col-12">
					<div class="">
						<%= render 'answers/form', discussion: discussion %>
					</div>
					<div id="new_answer-<%= discussion.id %>" class="">
					<!--Where new answers go -->
					</div>
					<div class="">
						<% discussion.answers.each do |answer| %>
							<%= render 'discussions/answer', answer: answer %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
<% end %>
