<% @discussions.each do |discussion| %>
	<% if discussion.parent_id.nil? && discussion.resolved == true %>
		<div class="list-group-item">
		  <div class="row">

		  	<%= link_to discussion_path(discussion), class: 'profile-link' do %>
		  	 <div class="col-xs-12 col-md-9 mb-4">
		                <h6 class="small"><%= discussion.content  %></h6>          
		            </div> 	
			 </div>
			 <% end %>

			  <div class="float-right col-4">			   	
			        <% if current_user == discussion.user %>
			          <%= link_to fa_icon("trash", class: "profile-link pr-3"), discussion_path(discussion), method: :delete, remote: true%>
			        <% end %>
		      </div>

			 <div class="actions">
						<% if discussion.resolved == false %>
						<%= link_to 'Answer', discussion_path(discussion), class: 'profile-link' %>
						<% else %>
						<%= link_to 'Contribute', discussion_path(discussion), class: 'profile-link' %>
						<% end %>
			 </div>

		  </div>
		</div>
	<% end %>
<% end %>

