<h1> Collabarate, Learn, Build </h1>
<h2> Share your questions and thoughts with like-minded entrepreneurs </h2>

<%= render "wads/sidebar" %>

<% @discussions.each do |discussion| %>
	<%= link_to discussion_path(discussion) do %>
		<ul class="wad">
			<%= discussion.content %>
		</ul>
	<% end %>
	<%= button_to like_discussion_path(discussion), method: :put do %>
		 Upvote
		 <%= discussion.get_upvotes.size %>
	<% end %>
<% end %>
<%= will_paginate @discussions %>
</div>
</div>