<%= link_to discussions_path do %>
    <button class="navbutton mt-4 shadow-sm"><%= fa_icon("arrow-left 2x") %></button>
<% end %>
<h4 class="d-block d-sm-none mx-auto">Start a discussion thread!</h4>
<div class="row">
  <div class=" mx-auto">
    <h1 class="d-none d-sm-block"> Start a discussion thread! </h1>

       <%= form_for @discussion do |f| %>
                      <%= f.label :category %>
                      <%= f.select :category,
                                  options_for_select(
                                    [
                                      "Fundraising",
                                      "Building A Team",
                                      "How To Find A Mentor",
                                      "Marketing",
                                      "Legal Registration",
                                      "How Did That Other Company Do It",
                                      "Random",
                                      "Other"
                                      ]
                                  ),
                                  {},
                                  class: 'form-control form-control-sm' %>
    <div class="col-12">  
        <div class="form-group">
          <%= f.label :content %>
          <%= f.text_area :content, class: 'form-control d-none d-sm-block', style: "resize: none;" %>
        </div>
        <div>
          <%= f.text_field :content, class: 'form-control d-block d-sm-none col-12' %>
        </div>

        <%= f.submit "Submit", class: 'Spitballbutton' %>
      <% end %>
    </div>
</div>
