<div class="discussion-feed">
<%= render "discussion" %>

</div>

	<div class="card mb-4">
		<div class="card-header">
		  <%= form_for @discussion.children.build, html: { class: 'form-inline' }, remote: true do |f| %>
		    <%= f.hidden_field :parent_id %>

		    <%= f.label :content, class: 'sr-only' %>
		    <%= f.text_field :content, class: 'form-control w-50 mr-2', placeholder: 'What are your thoughts on this idea?' %>

		    <%= f.submit 'Comment', class: 'btn btn-primary', disable_with: 'Sending' %>
		  <% end %>
		</div>

		<div class="list-group list-group-flush" data-comments>
			<%= discussions_tree_for @replies %>
		</div>
	</div>
