<div class="pointer">
	<div id="cmt-<%= comment.id %>" class="row">
		<div onclick='execReply("<%= comment.id %>");' class="col-2 ml-3 py-2">
			<div class="mt-1">
				<% unless !comment.user.photo.attached? %><%= link_to image_tag(comment.user.photo, class: "rounded-circle w-50"), user_path(comment.user) %><% else %><%= fa_icon('user 2x', class: "ml-3") %><% end %>
			</div>
		</div>

		<div onclick='execReply("<%= comment.id %>");' class="col-7 small py-2 bg-danger">
			<div class="small mb-1 mt-1" style="">
				<% if comment.user.occupation.present? %>
					<h5><%= comment.user.first_name + " " + comment.user.last_name + " 路 " + comment.user.occupation %></h5>
				<% else %>
					<%= comment.user.first_name + " " + comment.user.last_name %>
				<% end %>
			</div>
			<div class="">
				<%= simple_format(comment.content) %>
			</div>
		</div>
		<div class="col-3 row ">
			<div class="col-1 dropdown px-0">
				<span class="pointer" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<%= fa_icon('ellipsis-v') %>
				</span>
				<div class="dropdown-menu mr-5" aria-labelledby="dropdownMenuButton">
					<span class="dropdown-item"><%= link_to fa_icon('flag', class: "profile-link pointer") + "  Flag content", wad_comment_flag_path(@wad, comment), remote: true, class: "profile-link" %></span>
					<span class="pointer dropdown-item" id="btn-hide" onclick='execReply("<%= comment.id %>");'>	<%= image_tag('comment-dots-regular.svg', class: "icon-pic") %> Comment</span>
					<% if current_user == comment.user %>
					<span class="dropdown-item profile-link"><%= link_to fa_icon("trash", class: " profile-link pointer") + " Remove Comment", wad_comment_path(@wad, comment), method: :delete, remote: true %></span>
					<% end %>
				</div>
			</div>
			<div class="small ml-1">
				<% if current_user.voted_down_on?(comment) || !current_user.voted_for?(comment) %>
					<span class="" id="vote-span-<%= comment.id %>"><%= link_to image_tag('thumbs-up-regular.svg', class: "icon-pic"), wad_comment_like_path(comment.wad, comment), method: :put, remote: true, class: "profile-link" %></span><span class="small like-<%= comment.id %>" id="like-<%= comment.id %>"><%= comment.get_upvotes.count %></span>
				<% else %>
					<span class="" id="vote-span-<%= comment.id %>"><%= link_to image_tag('thumbs-up-orange.png', class: "cmt-png-icon"), wad_comment_dislike_path(comment.wad, comment), method: :put, remote: true, class: "profile-link" %></span><span class="small like-<%= comment.id %>" id=""><%= comment.get_upvotes.count %></span>
				<% end %>
			</div>
		</div>
		<% if comment.children.exists? %>
				See replies
		<% end %>
	</div>

	<div class="row no-gutters">
		<div id="reply-<%= comment.id %>" class="reply-hide-area col-12">
			<div id="cmt-form-<%= comment.id %>" class="text-center">
				<%= render 'form' %>
			</div>

			<div id="new-cmt-<%= comment.id %>" class="">

			</div>

			<% comment.descendants.each do |c| %>
				<div id="cmt-<%= c.id %>" class="small col-10 mx-auto border-bottom row">
					<div class="col-10 mt-2 mb-1 small">
						<% if !c.user.occupation || c.user.occupation == "" %><%= link_to c.user.name, user_path(c.user) %><%= " 路 "  + c.user.points.to_s %><% else %><%= link_to c.user.name , user_path(c.user) %><%= " 路 " + c.user.occupation %><%= " 路 "  + c.user.points.to_s %><% end %>
						<div class="col-12 mt-1">
							<% if c.parent == comment %>
								<%= link_to c.content, user_path(c.user), class: "profile-link" %>
							<% else %>
								<%= link_to c.content, user_path(c.parent.user), class: "profile-link" %>
							<% end %>
						</div>
					</div>
					<div class="mt-3 col-1">
						<div class="col-1 dropdown pointer">
			        <span class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          <%= fa_icon('ellipsis-v') %>
			        </span>
			        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			          <span class="dropdown-item"><%= link_to fa_icon('flag', class: " profile-link pointer") + "  Flag content", wad_comment_flag_path(@wad, c), remote: true, class: "profile-link" %></span>
								<% if current_user.voted_down_on?(c) || !current_user.voted_for?(c) %>
									<span class="dropdown-item d-inline pr-0" id="vote-span-<%= c.id %>"><%= link_to image_tag('thumbs-up-regular.svg', class: "icon-pic"), wad_comment_like_path(c.wad, c), method: :put, remote: true, class: "profile-link" %></span><span class="small d-inline like-<%= c.id %>" id="like-<%= c.id %>"><%= c.get_upvotes.count %></span>
								<% else %>
									<span class="dropdown-item" id="vote-span-<%= c.id %>"><%= link_to image_tag('thumbs-up-orange.svg', class: "icon-pic"), wad_comment_dislike_path(c.wad, c), method: :put, remote: true, class: "profile-link" %></span><span class="small like-<%= c.id %>" id=""><%= c.get_upvotes.count %></span>
								<% end %>
								<span class="profile-link child-cmt pointer dropdown-item" onclick='secondaryReply("<%= comment.id %>", "<%= c.id %>", "<%= c.user.name %>");'><%= image_tag('comment-dots-regular.svg', class: "icon-pic") + " Comment" %></span>
								<% if current_user == c.user %>
									<span class="dropdown-item profile-link"><%= link_to fa_icon("trash", class: "profile-link pointer"), wad_comment_path(@wad, c), method: :delete, remote: true %><span class="profile-link"> Remove Comment</span>
								<% end %>
			        </div>
			      </div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
