<div class="comment-render">
	<div onmouseover='showTrash("<%= comment.id %>")' onmouseleave='hideTrash("<%= comment.id %>")' id="cmt-<%= comment.id %>" class="row">
		<div class="col-2 border-right text-center">
			<%= link_to user_path(comment.user) do %>
				<%= image_tag comment.user.photo(:thumb), class: "w-75 rounded-circle" %>
			<% end %>
		</div>

		<div class="col-7 small">
			<div class="col-12">
				<% if current_user == comment.user %>
				<span id="trash-<%= comment.id %>" class="trash"><%= link_to fa_icon("trash", class: "profile-link "), [comment.wad , comment], method: :delete, remote: true %></span>
			<% end %>
				<%= comment.content %>
			</div>
		</div>
		<div class="col-3">
			<span id="btn-hide" onclick='execReply("<%= comment.id %>");'>	<%= fa_icon('comment', class: "profile-link") %> </span>
			<span><%= link_to fa_icon("chevron-circle-up", class: "profile-link"), wad_comment_like_path(comment.wad, comment), method: :put, remote: true %></span>
			<span data-check="<%= current_user.voted_for? comment %>" id="like-<%= comment.id %>"><%= comment.get_upvotes.size %></span>
		</div>	
	</div>

	<div class="float-right row no-gutters col-12 mt-4">	
		<div id="reply-<%= comment.id %>" class="col-12 reply-hide">
			<div id="cmt-form-<%= comment.id %>" class="mb-2">
				<%= render 'form' %>
			</div>

			<div id="new-cmt-<%= comment.id %>" class="small col-12 row">
				<div id="cmt-img-<%= comment.id %>" class="col-4">

				</div>

				<div id="cmt-cnt-<%= comment.id%>" class="col-6">

				</div>

			</div>

			<% comment.descendants.each do |c| %>
					<div id="cmt-<%= c.id %>" class="small col-12 row border-top">
						<div class="col-4">
							<span data-check="<%= current_user.voted_for? c %>" id="like-<%= c.id %>"><%= c.get_upvotes.size %></span>
							<span><%= link_to fa_icon('caret-up', class: 'profile-link'), wad_comment_like_path(c.wad, c), method: :put, remote: true %></span>
							<%= link_to image_tag(c.user.photo(:thumb), class: "w-25 mt-2 rounded-circle" ), user_path(c.user)%>
						</div>
						<% if c.parent == comment %>
							<%= link_to c.content, user_path(c.user), class: "mt-2 col-6 cmt-content profile-link" %>
						<% else %>
							<%= link_to c.content, user_path(c.parent.user), class: "mt-2 col-6 cmt-content profile-link" %>
						<% end %>					
						<div class="mt-2 col-2 row-fluid">
							<span class="child-cmt" onclick='secondaryReply("<%= comment.id %>", "<%= c.id %>", "<%= c.user.name %>");'><%= fa_icon("comment") %></span>
						<% if current_user == c.user %>
							<span id="trash-<%= c.id %>" class="cmt-trash trash"><%= link_to fa_icon("trash", class: "profile-link"), [c.wad , c], method: :delete, remote: true %></span>
						<% end %>	
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
