<div class="row">
	<div class="col-2 border-right text-center">
		<%= image_tag comment.user.photo(:thumb), class: "w-75" %>
	</div>

	<div class="col-7 small">
		<div class="col-12">
			<%= comment.content %>
		</div>
	</div>
	<div class="col-3">
		<% if current_user == comment.user %>
			<%= link_to fa_icon("trash", class: "profile-link"), [comment.wad , comment], method: :delete %>
		<% end %>
	</div>	
</div>


<div class="row col-12 mt-4">	
	<div class="profile-link col-2" onclick='execReply("<%= comment.id %>")'>
		<%= fa_icon('bullhorn 2x', class: "2x") %>	
	</div>	

	<div id="show-<%= comment.id %>" class="small col-10 repl-show">
		<= CLICK TO VIEW/CREATE COMMENT(S)
	</div>

	<div id="reply-<%= comment.id %>" class="col-10 reply-hide">
			<%= render 'form' %>
			<% comment.children.each do |c| %>
		<div class="small col-12 row border">
			<div class="col-5">
				<%= c.user.name %>:
			</div>

			<div class="col-7">
				<%= c.content %>
			</div>
		</div>
			<% end %>
	</div>
</div>

