<p> <%= comment.content %> </p>
<%= link_to wad_comment_like_path(comment, comment.id), method: :put do %>
	  Upvote:
	<% end %>
	  <%= comment.get_upvotes.size %>
	<% if current_user == comment.user %>
		<%= link_to "Delete", [comment.wad , comment], method: :delete %>
		<%= link_to "Edit", edit_wad_comment_path(comment.wad, comment) %>
	<% end %>
<%= link_to "Reply", new_wad_comment_path(@wad, :parent_id => comment.id) %>
