<div class="row">
	<div class="col-2 border-right">
		<div class="text-center">
			<%= image_tag comment.user.photo(:thumb), class: "w-50" %>
		</div>
	</div>

	<div class="col-9 small">
		<div class="col-12">
			<%= comment.content %>
		</div>
		<div class="col-12 text-right row mt-4">

			<div class="col-4" id='wad' data-wad="<%= @wad.id %>">
			</div>

			<div class="col-8">
				<span class="profile-link" onclick='toggleReply("<%= comment.id %>");'><%= fa_icon('bullhorn') %></span>
				<span onclick='execReply("<%= comment.id %>");'><%= fa_icon('comment') %></span>
				<% if current_user == comment.user %>
					<%= link_to fa_icon("trash", class: "profile-link"), [comment.wad , comment], method: :delete %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div id="cmt-rply-form-<%= comment.id %>" class="reply-hide">
	<%= render 'form' %>
</div>
<div id="reply-<%= comment.id %>" class="reply-hide">
	<%= comments_tree_for comment.children.hash_tree %>
</div>
