<div onmouseover='showTrash("<%= comment.id %>")' onmouseleave='hideTrash("<%= comment.id %>")' class="">	
	<div id="cmt-<%= comment.id %>" class="row mt-4">
		<% if current_user == comment.user %>
			<span id="trash-<%= comment.id %>" class="trash mr-3 mt-4"><%= link_to fa_icon("trash", class: "profile-link "), [comment.wad , comment], method: :delete, remote: true %></span>
		<% end %>		
		<div class="col-2 text-center">
			<%= link_to user_path(comment.user) do %>
				<%= image_tag comment.user.photo(:thumb), class: "w-75 rounded-circle" %>
			<% end %>
		</div>

		<div class="col-8 small">
			<div class="small mb-3 mt-1">
				<% if comment.user.occupation.present? %>
					<%= comment.user.first_name + " " + comment.user.last_name + " · " + comment.user.occupation %> 
				<% else %>
					<%= comment.user.first_name + " " + comment.user.last_name %> 
				<% end %>

			</div>
			<div class="col-12">
				<%= comment.content %>
			</div>
		</div>
		<div class="col-2 mt-4">
			<span id="btn-hide" onclick='execReply("<%= comment.id %>");'>	<%= image_tag('comment-dots-regular.svg', class: "icon-pic ml-3 mr-4") %> </span>
			<% unless current_user == comment.user %>
				<% if current_user.voted_down_on? comment %>
					<span id="vote-span-<%= comment.id %>"><%= link_to image_tag('thumbs-up-regular.svg', class: "icon-pic"), wad_comment_like_path(comment.wad, comment), method: :put, remote: true %></span>
				<% elsif !current_user.voted_for? comment %>
					<span id="vote-span-<%= comment.id %>"><%= link_to image_tag('thumbs-up-regular.svg', class: "icon-pic"), wad_comment_like_path(comment.wad, comment), method: :put, remote: true %></span>
				<% else %>
					<span id="vote-span-<%= comment.id %>"><%= link_to image_tag('thumbs-up-regular.svg', class: "icon-pic"), wad_comment_dislike_path(comment.wad, comment), method: :put, remote: true %></span>			
				<% end %>			
				<span data-check="parent" id="like-<%= comment.id %>"><%= comment.get_upvotes.size %></span>
			<% end %>
		</div>	
	</div>

	<div class="float-right row no-gutters col-12 mt-4">	
		<div id="reply-<%= comment.id %>" class="col-12 reply-hide mb-5">
			<div id="cmt-form-<%= comment.id %>" class="mb-3">
				<%= render 'form' %>
			</div>

			<div id="new-cmt-<%= comment.id %>" class="small col-12 row">

			</div>

			<% comment.descendants.each do |c| %>
					<div onmouseover='showTrash("<%= c.id %>")' onmouseleave='hideTrash("<%= c.id %>")' id="cmt-<%= c.id %>" class="small col-12 row border-top">
						<div class="col-3">
							<% unless current_user == c.user %>
								<span data-check="child" id="like-<%= c.id %>"><%= c.get_upvotes.size %></span>
								<% if current_user.voted_down_on? c %>
									<span id="vote-span-<%= c.id %>"><%= link_to fa_icon('caret-up', class: 'profile-link'), wad_comment_like_path(c.wad, c), method: :put, remote: true %></span>
								<% elsif !current_user.voted_for? c %>
									<span id="vote-span-<%= c.id %>"><%= link_to fa_icon('caret-up', class: 'profile-link'), wad_comment_like_path(c.wad, c), method: :put, remote: true %></span>		
								<% else %>
									<span id="vote-span-<%= c.id %>"><%= link_to fa_icon('caret-down', class: 'profile-link'), wad_comment_dislike_path(c.wad, c), method: :put, remote: true %></span>
								<% end %>
							<% end %>												
							<%= link_to image_tag(c.user.photo(:thumb), class: "w-25 mt-2 mb-2 rounded-circle" ), user_path(c.user)%>
						</div>
						<div class="col-8 mt-2">
							<% if c.parent == comment %>
								<%= link_to c.content, user_path(c.user), class: "profile-link" %>
							<% else %>
								<%= link_to c.content, user_path(c.parent.user), class: "profile-link" %>
							<% end %>
						</div>					
						<div class="mt-1 col-1 row-fluid">
							<span class="child-cmt" onclick='secondaryReply("<%= comment.id %>", "<%= c.id %>", "<%= c.user.name %>");'><%= image_tag('comment-dots-regular.svg', class: "icon-pic") %></span>
						<% if current_user == c.user %>
							<span id="trash-<%= c.id %>" class="cmt-trash trash align-top"><%= link_to fa_icon("trash", class: "profile-link"), [c.wad , c], method: :delete, remote: true %></span>
						<% end %>	
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
