<div class="mb-4 mt-3">
	<%= form_for([@wad, @comment], class: "", remote: true) do |f| %>
		<div class="row comment-reply-form">
		      <div class="col-8 ml-5">
		        <%= f.text_area :content, placeholder: "Leave a comment...", id: "comment-reply-box-#{comment.id}", class: 'border-bottom comment-reply-form form-control form-field autoExpand no-resize', rows: "1" %>
		        <%= f.hidden_field :wad_id %>
		        <%= f.hidden_field :parent_id, class: "hid-field" %>
		      </div>
		      <div class="col-3 ">
		        <%= f.submit 'Comment', class: 'mt-1 mb-1 comment-btn btn-sm comment-reply-btn pointer' %>
		   	  </div>
		</div>
	<% end %>
</div>
