<%= form_for([@wad, @comment], remote: true) do |f| %>
	<div class="col-11 mb-4 row">
	      <div class="col-10 mt-1">
	        <%= f.text_field :content, class: 'form-control form-control-sm form-field' %>
	        <%= f.hidden_field :wad_id %>
	        <%= f.hidden_field :parent_id, class: "hid-field" %>
	      </div>
	      <div class="col-2">
	        <%= f.submit 'Comment', class: 'text-center comment-btn btn-sm', id: "btn" %>
	   	  </div>	      
	</div>
<% end %>