<div class="col-12 col-md-6 mx-auto row">
    <%= form_for([@wad, @comment]) do |f| %>
      <div class="form-group">
        <%= f.text_field :content, class: 'form-control form-control-sm' %>
        <%= f.hidden_field :wad_id %>
        <%= f.hidden_field :parent_id, class: "hid-field" %>
      </div>
        <%= f.submit 'Comment', class: 'text-center btn btn-info btn-sm', id: "btn" %>
    <% end %>
</div>
