if ("<%= @comment.parent_id %>" == "") {
	document.location.reload();
} else {
	$('#new-cmt-<%= @comment.root.id %>').prepend("<div class='col-10 mt-2 mb-1 small'> <%= link_to @comment.user.name, user_path(@comment.user) %><div class='col-12 border-bottom mb-1 mt-1'><%= @comment.content %></div></div>")
	$('.form-field').val("")
	$('.hid-field').attr('value', "<%= @comment.root.id %>");
}
