if (<%= @comment.root.id %> == <%= @comment.id %>){
	window.location.reload();
} else {
	if (document.getElementById("see-reply-<%= @comment.parent_id %>") == null){
		$("#see-replies-holder-<%= @comment.parent_id %>").html(`
				<span id="see-replies-<%= @comment.parent_id %>" class="see-replies small pointer">Show replies <%= fa_icon('caret-down')%></span>
			`)
	}
	const nameAndContent =`
	<div id="cmt-<%= @comment.id %>" class="small col-11 mx-auto row">
		<div class="col-10">
				<%= link_to user_path(@comment.user), class: "profile-link" do %> <%= image_tag @comment.user.photo, class: "rounded-circle childCommentPic mt-2" %> <span style="color: rgb(120,182,75);"><%= @comment.user.name %></span><% end %>
			<div class="col-12 row">
				<div class="col-1">

				</div>
				<div class="col-11">
					<% if @comment.parent == @comment %>
						<%= link_to simple_format(@comment.content), user_path(@comment.user), class: "profile-link" %>
					<% else %>
						<%= link_to simple_format(@comment.content), user_path(@comment.parent.user), class: "profile-link" %>
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-2 mt-2">
			<div class="col-1 dropdown pointer ml-5 pl-0 ">
				<span class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<%= fa_icon('ellipsis-h', class: "icon-text text-muted") %>
				</span>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<span class="dropdown-item"><%= link_to fa_icon('flag', class: " profile-link pointer") + "  Flag content", wad_comment_flag_path(@comment.wad, @comment), remote: true, class: "profile-link" %></span>
					<% if current_user == @comment.user %>
						<span class="dropdown-item profile-link"><%= link_to fa_icon("trash", class: "profile-link pointer"), wad_comment_path(@comment.wad, @comment), method: :delete, remote: true %><span class="profile-link"> Remove Comment</span>
					<% end %>
				</div>
			</div>
			<div id="comment-like-<%= @comment.id %>" class="px-0 border br-5 pointer">
				<% if current_user.liked?(@comment) %>
					<%= link_to wad_comment_dislike_path(@comment.wad, @comment), class: "profile-link", method: :put, remote: true do%>
						<div class="row p-2 ">
							<div class="col-2">
								<%= image_tag('heart.svg') %>
							</div>
							<div class="col-5 small mt-1">
								<div>
									<%= @comment.get_upvotes.size %>
								</div>
							</div>
						</div>
					<% end %>
				<% else %>
					<%= link_to wad_comment_like_path(@comment.wad, @comment), class: "profile-link", method: :put, remote: true do%>
						<div class="row p-2">
							<div class="col-2">
								<%= image_tag('heart-empty.svg') %>
							</div>
							<div class="col-5 small mt-1">
								<div>
									<%= @comment.get_upvotes.size %>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>`;
	console.log("workig");
	$('#new-cmt-<%= @comment.root.id %>').prepend(nameAndContent);
	$('.form-field').val("");
	$('.hid-field').attr('value', "<%= @comment.root.id %>");
};
