<div class="row col-12 mx-auto px-2">
	<div class="col-md-2 mt-5 d-none d-sm-block">
		<%= render 'wads/sidebar' %>
	</div>
	<div class="col-md-7 mt-5">
		<%= render 'wads/panel' %>
		<div class="mt-4">
			<div id="" class="mb-3">
				<div class="row">
					<div class="col-9">
						<%= form_for [@wad, @wad.comments.build], html: { class: 'form-inline' }, remote: true do |f| %>
							<%= f.hidden_field :wad_id %>
				    	<%= f.text_area :content, class: 'form-control comment-text w-100', placeholder: 'What are your thoughts on this idea?' %>
					</div>
					<div class="col-3">
				    	<%= f.submit 'Comment', class: 'comment-btn pointer', disable_with: 'Sending' %>
						<% end %>
					</div>
				</div>
			</div>
			<% if @wad.comments.exists? %>
				<div id="daddy-comment-div" class="card border-bottom-0">
					<%= comments_tree_for @replies %>
				</div>
			<% end %>
		</div>
	</div>

	<div class="col-md-3">
		<h6 class="mt-5 mb-2 text-center"> Related Wads</h6>
		<%= render 'wads/side_wad' %>
	</div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=204039150277736&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
