<div class="row">
	<div class="">
		<%= render 'wads/panel' %>
		<div id="" class="mt-5 border-top border-bottom">
			<div class="row mx-1 my-2">
				<div class="col-1">
					<%= image_tag(current_user.photo, class: "rounded-circle w-100 pr-0") %>
				</div>
				<div class="col-9 pr-0">
					<%= form_for [@wad, @wad.comments.build], html: { class: 'form-inline' }, remote: true do |f| %>
						<%= f.hidden_field :wad_id %>
						<%= f.text_area :content, id: "parent-cmt-field", class: 'form-control comment-text w-100 comment-reply-form autoExpand', placeholder: 'What are your thoughts on this idea?' %>
				</div>
				<div class="col-2">
						<%= f.submit "POST", id: "parent-cmt-btn", class: 'comment-btn-2 pointer br-5 w-100', disable_with: 'Sending' %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="ml-md-5 mt-3">
			<% if @wad.comments.exists? %>
				<div id="daddy-comment-div" class=" border-bottom-0">
					<%= comments_tree_for @replies %>
				</div>
			<% end %>
		</div>
	</div>
</div>
<div id="fb-root"></div>
<%= render 'comments/comment_modal' %>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=204039150277736&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
