<div class="col-6">
	<%= render 'wads/panel' %>

	<div class="h5">
		Discussion
	</div>

	<div class="card">
		<div class="card-header">
		  <%= form_for [@wad, @wad.comments.build], html: { class: 'form-inline' } do |f| %>
		    <%= f.hidden_field :wad_id %>

		    <%= f.label :content, class: 'sr-only' %>
		    <%= f.text_field :content, class: 'form-control w-50 mr-2', placeholder: 'What are your thoughts on this idea?' %>

		    <%= f.submit 'Comment', class: 'btn btn-primary' %>
		  <% end %>
		</div>

		<div class="list-group list-group-flush">
			<%= comments_tree_for @replies %>
		</div>
	</div>
</div>

<div class="col-3">
	<div class="row">
		<div class="col-12 mb-4">
			<div class="card">
				<div class="card-header">
					Related Wads
				</div>

				<div class="list-group list-group-flush">
					<%= render @wad %>
				</div>
			</div>
		</div>
	</div>
</div>
