<div class="row mt-3">
	<div class="col-md-7 mt-1">
		<%= render 'wads/panel' %>
		<div class="mt-4">
			<div class="">
				<div class="col-12 mb-3">
				  <%= form_for [@wad, @wad.comments.build], html: { class: 'form-inline col-12 mx-auto' }, remote: true do |f| %>
				    <%= f.hidden_field :wad_id %>

				    <%= f.text_area :content, class: 'form-control col-8 mx-auto mr-2 comment-text', placeholder: 'What are your thoughts on this idea?' %>

				    <%= f.submit 'Comment', class: 'comment-btn mx-auto mt-1 pointer', disable_with: 'Sending' %>
				  <% end %>
				</div>
			</div>

			<div class="">
				<%= comments_tree_for @replies %>
			</div>
		</div>
	</div>

	<div class="col-md-5 mt-3">
		<div class="row">
			<h4 class="col-8 pb-0">Top Collaborators</h4>
			<div class="col-4 mb-4">
					<div class="small mr-2">
						Like this project?
					</div>
					<div class="mt-2">
						<%= link_to "Join in", collab_wad_path(@wad, user_id: current_user.id, wad_id: @wad.id), class: " text-black profile-link", method: :post %>
					</div>
			</div>	
		</div>
		<% if !@collaborators.empty? %>	
			<div class="card" style="border-radius: 10px;">
				<div class="mt-2 ml-3 mb-1 row">
					<% @collaborators.each do |c| %>
						<div class="col-3 text-center">
							<div><%= c.name %></div>
							<div>
								<h6 class=""><%= image_tag c.photo(:thumb), class: "rounded-circle side-wad-pic " %></h6>
								<div class="ml-2 small"><%= c.occupation %></div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		<% else %>
			<div>
				There are no collaborators :/ Be the first!
			</div>
		<% end %>
		<h4 class="mt-5 mb-4"> Related Wads</h4>
		<%= render 'wads/side_wad' %>	
	</div>
</div>