<div class="no-gutters pl-0" style="height: 100%;">
  <div class="border" style="background-color: rgb(242,242,242);">
    <div class="mx-auto">
      <%= form_tag(autocomplete_friends_path, method: "get", class: "my-1 mx-1 text-center", remote: true) do %>
        <%= text_field_tag :autocomplete_friends, nil, placeholder: "Search", class: "w-100 search_field px-3" %>
      <% end %>
    </div>
  </div>
  <div>
    <% @conversations.each do |conversation| %>
      <div id="defaultOpen" value="<%= conversation.id %>" onclick='openConversation(event,"<%= conversation.id %>")' class="border-bottom py-3 w-100 pointer tablinks convo-<%= conversation.id%>">
        <span class="ml-5 pointer small">
          <% unless User.find(conversation.sender_id) == current_user %>
            <%= User.find(conversation.sender_id).name %>
          <% else %>
            <%= User.find(conversation.recipient_id).name %>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>
