new_message = `
<div class="small w-100 row float-right mb-2">
  <div class="col-2">

  </div>
  <div class="col-9">
    <b class="float-right">
      <%= @message.user.name %>
    </b><br>
    <span class="date-text small float-right">
      <%= @message.created_at.strftime("%A at %I:%M %p") %>
    </span><br>
    <span class="float-right">
      <%= @message.body %>
    </span>
  </div>
  <div class="col-1 pl-0">
    <% unless !@message.user.photo.attached? %><%= image_tag @message.user.photo, class: "circle-larry" %><% end %>
  </div>
</div>
`
$(".index-<%= @message.conversation_id %>").append(new_message)
$(".message_body").val(null)
objDiv = document.getElementById("<%= @message.conversation_id %>");
objDiv.scrollTop = objDiv.scrollHeight;
// make this work document.getElementById('message-view').scrollHeight;
