<div id="message-view" class="">
<% @conversations.each do |convo| %>
  <div id="<%= convo.id %>" class="tabcontent conversations-message w-100">
    <% convo.messages.each do |message| %>
      <% if message.user != current_user %>
        <div class="small ml-1 w-100 row">
          <div class="col-1">
            <%= image_tag message.user.photo.url(:thumb), class: "circle-larry" %>
          </div>
          <div class="col-9">
            <b><%= message.user.name %></b><br>
            <span class="date-text small"><%= message.created_at.strftime("%A at %I:%M %p") %></span><br>
            <%= message.body %>
          </div>
        </div><br>
      <% else %>
      <div class="ml-5 small w-100 row float-right">
        <div class="col-9">
          <b class="float-right"><%= message.user.name %></b><br>
          <span class="date-text small float-right"><%= message.created_at.strftime("%A at %I:%M %p") %></span><br>
          <span class="float-right"><%= message.body %></span>
        </div>
        <div class="col-1">
          <%= image_tag message.user.photo.url(:thumb), class: "circle-larry" %>
        </div>
      </div><br><br><br>
      <% end %>
    <% end %>
    </div>
<% end %>
</div>
<div class="message-bar">
    <%= render 'conversations/messagebar' %>
</div>
