<div class="card mb-3 panel-div" style="border-radius: 10px;">
	<div class="card-header">
		<% if @wad.user.occupation.present? %>
				<%= link_to @wad.user.name + " · " + @wad.user.occupation, user_path(@wad.user), class: "profile-link small float-left" %>
		<% else %>
				<%= link_to @wad.user.name, user_path(@wad.user), class: "profile-link small float-left" %>
		<% end %>
		<% unless @wad.user == current_user || @wad.user.friends_with?(current_user) %>
		 <span class="dropdown-item"><%= link_to fa_icon("user-plus", class: "profile-link") + " Add friend!", friend_requests_path(:friend_id => @wad.user), :method => :post, class: "profile-link" %></span>
		<% end %>
		<div class="col-1 dropdown dropleft float-right ">
			<span class="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<%= fa_icon('ellipsis-v') %>
			</span>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<span class="dropdown-item"><%= link_to fa_icon('flag', class: "profile-link pointer") + " Flag content", flag_wad_path(@wad), remote: true, class: "profile-link" %></span>
				<% if current_user == @wad.user %>
				<%= link_to fa_icon("trash", class: "dropdown-item profile-link pointer"), wad_path(@wad), method: :delete, remote: true, class: "profile-link" %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-2 col-xs-4">
	            <% if @wad.image.url(:medium) == "/images/medium/missing.png"  %>
	              <%= image_tag "orange_bulb.png", class: 'img-fluid rounded d-none d-sm-block' %>
	              <%= image_tag "orange_bulb.png", style: "width: 200px;" , class: 'img-fluid rounded mx-auto d-block d-sm-none' %>
	            <% else %>
	              <%= image_tag @wad.image.url(:medium), class: 'd-none d-sm-block img-fluid border border-light rounded-circle' %>
	              <%= image_tag @wad.image.url(:medium), class: 'd-block d-sm-none mx-auto img-fluid border border-light rounded-circle' %>
	            <% end %>
			</div>

			<div class="col-md-10 small text-justify">
		        <h6 class="mt-3 d-none d-md-block"><%= @wad.problem_state %></h6>
		        <h6 class="mt-1 text-center d-block d-sm-none"><%= @wad.problem_state %></h6>
		        <p class="small d-block d-sm-none"><%= simple_format(@wad.long_form) %></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5 col-xs-12 mt-4 text-center d-none d-sm-block">

		</div>
		<div class="col-md-7 col-xs-12">
			<div class="ml-5 col-12">
				<h6 class="ml-3 mb-2">See who else likes this idea!</h6>
				<div class="row">
					<div class="mb-3 col-4 pr-0">
						<%= link_to fa_icon('thumbs-up'), like_wad_path(@wad, user_id: current_user.id, wad_id: @wad.id), class: "orange-btn", method: :put, remote: true %>
					</div>
					<div class="col-8 pl-0 row">
						<div class="col-4">
							<% if !@likers.empty? %>
								<% if @likers[0] %><%= image_tag @likers[0].photo(:thumb), class: "rounded-circle trio-img position-absolute" %><% end %>
								<% if @likers[1] %><%= image_tag @likers[1].photo(:thumb), class: "rounded-circle trio-img position-absolute mid-pic" %><% end %>
								<% if @likers[2] %><%= image_tag @likers[2].photo(:thumb), class: "rounded-circle trio-img position-absolute far-pic" %><% end %>
							<% end %>
						</div>
						<div class="col-8">
							<% if @wad.get_upvotes.size - 3 > 1 %>
								<span class="small font-weight-light">& <span id="wad-like-<%= @wad.id %>" data-check="<%= current_user.liked? @wad %>"><%= @wad.get_upvotes.size - 3 %></span> others!</span>
							<% else %>
								<span class="small font-weight-light">& <span id="wad-like-<%= @wad.id %>" data-check="<%= current_user.liked? @wad %>"><%= @wad.get_upvotes.size %></span> others!</span>
							<% end %>
						</div>
						<%#<a href="https://twitter.com/intent/tweet?button_hashtag=button&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-text="Check out what I just came up with on Spitball! <%= request.original_url %ADD CLOSING TAG HERE!!" data-show-count="false">Tweet #button</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
