<div onmouseover='showTrash("<%= @wad.id %>")' onmouseleave='hideTrash("<%= @wad.id %>")' class="card col-12 mb-3 panel-div" style="border-radius: 10px;">
	<div class="card-body">
		<div class="row">
			<div class="col-2">
		        <%= link_to wad_comments_path(@wad) do %>
		            <% if @wad.image.url(:medium) == "/images/medium/missing.png"  %>
		              <%= image_tag "bulb.png", class: 'img-fluid h-50 rounded mt-4' %>
		            <% else %>
		              <%= image_tag @wad.image.url(:medium), class: 'img-fluid border border-light rounded-circle' %>
		            <% end %>
		        <% end %>
			</div>

			<div class="col-9 small mt-3">
				<h4><%= @wad.problem_state %></h4>
				<span class=""><%= simple_format(@wad.long_form) %></span>
			</div>
		</div>
	</div>
	<% if @wad.user.occupation.present? %>
			<span class="small mb-2"><%= link_to @wad.user.first_name + " " + @wad.user.last_name + " · " + @wad.user.occupation, user_path(@wad.user), class: "profile-link" %></span>	
	<% else %>
			<span class="small mb-2"><%= link_to @wad.user.first_name + " " + @wad.user.last_name, user_path(@wad.user), class: "profile-link" %></span>	
	<% end %>
</div>
