<div class="row">
	<!--<div class="card-header">
		<div class="row">
			<div class="col-4 small">
					<%= image_tag @wad.user.photo, class: "rounded-circle small-pic pr-0" %> <%= @wad.user.first_name + " " + @wad.user.last_name %>
			</div>
			<div class="col-3">

			</div>
			<div class="col-5">
				<div class="col-1 dropdown dropleft float-right">
					<span class="pointer" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<%= fa_icon('ellipsis-h 2x', class: "") %>
					</span>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<span class="dropdown-item"><%= link_to fa_icon('flag', class: "profile-link pointer") + " Flag content", flag_wad_path(@wad), remote: true, class: "profile-link" %></span>
			      <% if current_user == @wad.user %>
			      <span class="dropdown-item "><%= link_to fa_icon("trash", class: "profile-link pointer") + " Remove Wad", wad_path(@wad), method: :delete, remote: true, class: "profile-link" %></span>
			      <% end %>
					</div>
				</div>
				<div class="col-1 dropdown dropleft float-right mr-3">
			    <span class="pointer" id="shareDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			      <%= fa_icon('share-alt', class: "icon-text") %>
			    </span>

			    <div class="dropdown-menu" aria-labelledby="shareDropdown">
			      See what your friends think about this idea!
			      <span class="dropdown-item">
			        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="<%= @wad.user.name %> just had a new <%= @wad.category %> idea. Check it out on Spitball! https://spitball.io<%= root_path(type: "yeo") %>" data-url="<%= root_path %>" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			      </span>
			      <span class="dropdown-item">
			        <!-- <div class="fb-share-button" data-href="<%= wad_comments_path(@wad) %>" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div> ->
			      </span>
			    </div>
			  </div>
			</div>
		</div>
	</div>-->
	<div class="col-6">
		<% case @wad.category
		when "Technology and Apps" %><span class="small techCategory px-3 pt-2 pb-1">TECH & APPS</span>
			<% when "Non-profit and Social Entrepreneurship" %><span class="small mt-5 socialCategory px-3 py-1 ">NON-PROFIT</span>
			<% when "Finance and B2B" %><span class="small mt-5 financeCategory px-3 py-1 ">FINANCE</span>
			<% when "Media and Entertainment" %><span class="small mt-5 mediaCategory px-3 py-1 ">MEDIA</span>
			<% when "Hardware and Gadgets" %><span class="small mt-5 gadgetCategory px-3 py-1 ">GADGETS</span>
			<% when "Events and Lifestyle" %><span class="small mt-5 eventCategory px-3 py-1 ">LIFESTYLE</span>
			<% when "Avant-garde" %><span class="small mt-5 avantCategory px-3 py-1 ">AVANTE-GARDE</span>
		<% end %>
	</div>
	<div class="col-3">

	</div>
	<div class="col-2 d-block d-sm-none">
		<div class="col-2 dropdown mt-2">
			<span id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<%= fa_icon('ellipsis-h', class: "wad-ellipsis pointer", id: "") %>
			</span>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
				<span class="dropdown-item profile-link"><%= link_to fa_icon('flag', class: " profile-link pointer") + " Flag Wad", flag_wad_path(@wad), remote: true, class: "profile-link" %></span>
				<% if current_user == @wad.user %>
				<span class="dropdown-item profile-link"><%= link_to fa_icon("trash", class: "profile-link pointer") + " Remove Wad", wad_path(@wad), method: :delete, remote: true, class: "profile-link" %></span>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="border-bottom">
	<div class="px-3 py-4 row">
		<div class="col-7 mt-2">
			<h6 class=""><%= @wad.problem_state %></h6>
		</div>
		<div class="col-5 d-none d-sm-block">
			<div class="row">
				<div class="col-7 wad-like-<%= @wad.id%>">
					<% if current_user.liked?(@wad) %>
						<%= link_to dislike_wad_path(@wad), class: "profile-link", method: :put, remote: true do %>
							<div class="border py-2 px-3 br-5 likeBtn text-white pointer">
								<div class="row">
									<div class="col-2">
										<%= fa_icon('thumbs-up') %>
									</div>
									<div class="col-8">
										<div class="small float-right mt-1">
											<%= @wad.get_upvotes.size %>
										</div>
									</div>
								</div>
							</div>
						<% end %>
					<% else %>
						<%= link_to like_wad_path(@wad), class: "profile-link", method: :put, remote: true do %>
						<div class="border py-2 px-3 br-5 likeBtn-off pointer">
							<div class="row">
								<div class="col-2">
									<%= fa_icon('thumbs-up') %>
								</div>
								<div class="col-8">
									<div class="small float-right mt-1">
										<%= @wad.get_upvotes.size %>
									</div>
								</div>
							</div>
						</div>
						<% end %>
					<% end %>
				</div>
			<div class="col-1">

			</div>
			<div class="col-1">
				<div class="col-2 dropdown float-right mt-2">
					<span id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<%= fa_icon('ellipsis-h', class: "wad-ellipsis pointer", id: "") %>
					</span>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
						<span class="dropdown-item profile-link"><%= link_to fa_icon('flag', class: " profile-link pointer") + " Flag Wad", flag_wad_path(@wad), remote: true, class: "profile-link" %></span>
						<% if current_user == @wad.user %>
						<span class="dropdown-item profile-link"><%= link_to fa_icon("trash", class: "profile-link pointer") + " Remove Wad", wad_path(@wad), method: :delete, remote: true, class: "profile-link" %></span>
						<% end %>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="col-5 d-block d-sm-none">
			<div class="wad-like-<%= @wad.id%> mt-4">
				<% if current_user.liked?(@wad) %>
					<%= link_to dislike_wad_path(@wad), class: "profile-link", method: :put, remote: true do %>
						<div class="border py-2 px-3 br-5 likeBtn text-white pointer">
							<div class="row">
								<div class="col-2">
									<%= fa_icon('thumbs-up') %>
								</div>
								<div class="col-8">
									<div class="small float-right mt-1">
										<%= @wad.get_upvotes.size %>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				<% else %>
					<%= link_to like_wad_path(@wad), class: "profile-link", method: :put, remote: true do %>
					<div class="border py-2 px-3 br-5 likeBtn text-white pointer">
						<div class="row">
							<div class="col-2">
								<%= fa_icon('thumbs-up') %>
							</div>
							<div class="col-8">
								<div class="small float-right mt-1">
									<%= @wad.get_upvotes.size %>
								</div>
							</div>
						</div>
					</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-9 py-3">
		<div class="">
			<div class="p-3">
				<%= image_tag @wad.user.photo, class: "rounded-circle", style: "width:40px;" %> &nbsp; &nbsp; <%= @wad.user.first_name + " " + @wad.user.last_name %>
			</div>
			<div class="col-12 ">
				<div class="small">
					<div class="mx-auto">
			        <p class="d-block d-sm-none San-Fran space-text"><%= simple_format(@wad.long_form).gsub(URI.regexp, '<a href="\0">\0</a>').html_safe %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 border-left px-0 d-none d-sm-block">
		<div class="pt-5 pb-1 col-12">
			<div class="">
				<p>
					This idea is pretty cool! I would like to help on this project
				</p>
			</div>
		</div>
		<div class="py-4">

		</div>
		<div class="pl-0 col-12">
			<div class="application-div py-4 pointer text-center">
				<div class="" data-toggle='modal' data-target='#applicationModal'>
					APPLY
				</div>
			</div>
		</div>
	</div>
</div>
<div class="d-block d-sm-none">
	<div class="col-12">
		<div class="row pr-0 border-top">
			<div class="col-8">
				<p class="mt-3 small">
					This idea is pretty cool! I would like to help on this project
				</p>
			</div>
			<div class="col-4 small border-left px-0 text-center">
				<div class="application-div pointer py-5 px-0 small" data-toggle='modal' data-target='#applicationModal'>
					APPLY
				</div>
			</div>
		</div>
	</div>
</div>
	<!--<div class="container mb-1 d-none d-sm-block">
		<div class="row">
			<div class="col-1 ml-3">
				<% if current_user == @wad.user %>
					<span class="external-link"><%= fa_icon('external-link', class: "pointer") %></span>
				<% elsif @wad.link.present? %>
					<span id=""><%=link_to fa_icon('external-link', class: "pointer"), @wad.link, target: "_blank" %></span>
				<% end %>
			</div>
			<div class="col-4">
				<% if current_user == @wad.user %>
					<form method="POST" action="/wads/<%= @wad.id %>/add_link">
						<span class="link-field"><input name="link" placeholder="<%= @wad.link %>" class="br-5"/><span data-toggle="tooltip" data-placement="right" title="Add a URL if you've started prototyping (press ENTER when finished)." class="question-marker-ps ml-1"><%= fa_icon('question') %></span></span>
					</form>
				<% end %>
			</div>
			<div class="col-2">
				<button type="button" class="btn comment-btn-alt" data-toggle="modal" data-target="#applicationModal">
  				Apply!
				</button>
			</div>
			<div class="col-4 wad-like-<%= @wad.id %>" data-check="panel">
				<% if !current_user.liked? @wad %>
					<%= link_to like_wad_path(@wad), method: :put, remote: true do %>
					<button type="button" name="button" class="comment-btn-alt pointer br-5">
						<span class="small">
							<%= fa_icon('caret-up 2x') %> Upvote
						</span>
						<span class="small">
							<%= @wad.get_upvotes.count %>
						</span>
					</button>
					<% end %>
				<% else %>
					<%= link_to dislike_wad_path(@wad), method: :put, remote: true do %>
					<button type="button" name="button" class="comment-btn-ori pointer br-5">
						<span class="small">
							<%= fa_icon('caret-up 2x') %> Upvote
						</span>
						<span class="small">
							<%= @wad.get_upvotes.count %>
						</span>
					</button>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="container mb-1 d-block d-sm-none">
		<div class="row no-gutters">
			<div class="col-1">
				<% if current_user == @wad.user %>
					<span class="external-link"><%= fa_icon('external-link', class: "pointer") %></span>
				<% elsif !@wad.link.nil? %>
					<span id=""><%=link_to fa_icon('external-link', class: "pointer"), @wad.link, target: "_blank" %></span>
				<% end %>
			</div>
			<div class="col-5">
				<% if current_user == @wad.user %>
					<form method="POST" action="/wads/<%= @wad.id %>/add_link">
						<input name="link" placeholder="<%= @wad.link %>" class="br-5 link-field w-100"/>
					</form>
				<% end %>
			</div>

			<div class="col-6 wad-like-<%= @wad.id %>" data-check="panel">
				<% if !current_user.liked? @wad %>
					<%= link_to like_wad_path(@wad), method: :put, remote: true do %>
					<button type="button" name="button" class="comment-btn-alt pointer br-5">
						<%= fa_icon('caret-up 2x') %> <span class="align-text-top">Upvote</span>
						<span>
							<%= @wad.get_upvotes.count %>
						</span>
					</button>
					<% end %>
				<% else %>
					<%= link_to dislike_wad_path(@wad), method: :put, remote: true do %>
					<button type="button" name="button" class="comment-btn-ori pointer br-5">
						<span class="small">
							<%= fa_icon('caret-up 2x', class: "") %> Upvote
						</span>
						<span class="small">
							<%= @wad.get_upvotes.count %>
						</span>
					</button>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>-->
