<div class="border-bottom text-white" style="background-color: rgb(0,109,181);">
	<%= fa_icon('ellipsis') %>yeo
</div>
<div class="w-100 mb-1 panel-div col-12" style="border-radius: 10px;">
	<div class="">
		<div class="row ">
			<div class="col-md-2 col-xs-4">
	            <% if !@wad.image.attached?  %>
	              <%= image_tag "#{@wad.category}.png", class: 'img-fluid rounded d-none d-sm-block mt-3' %>
	              <%= image_tag "#{@wad.category}.png", style: "width: 200px;" , class: 'img-fluid rounded mx-auto d-block d-sm-none' %>
	            <% else %>
	              <%= image_tag @wad.image, class: 'd-none d-sm-block img-fluid border border-light mt-3', style: "width: 150px; height: 100px; border-radius: 5px; border: solid grey;" %>
	              <%= image_tag @wad.image, class: 'd-block d-sm-none mx-auto img-fluid border border-lighte' %>
	            <% end %>
			</div>
			<div class="col-md-10">
				<div class="mx-auto">
		        <h6 class="mt-3 d-none d-md-block wad-text-prob"><%= @wad.problem_state %></h6>
		        <h6 class="mt-1 text-center d-block d-sm-none wad-text-prob"><%= @wad.problem_state %></h6>
		        <p class="d-block d-sm-none wad-text-long"><%= simple_format(@wad.long_form).gsub(URI.regexp, '<a href="\0">\0</a>').html_safe %></p>
				</div>
			</div>
		</div>
	</div>
	<div class="container mb-1 d-none d-sm-block">
		<div class="row">
			<div class="col-1 ml-3">
				<% if current_user == @wad.user %>
					<span class="external-link"><%= fa_icon('external-link', class: "pointer") %></span>
				<% elsif @wad.link.present? %>
					<span id=""><%=link_to fa_icon('external-link', class: "pointer"), @wad.link, target: "_blank" %></span>
				<% end %>
			</div>
			<div class="col-6">
				<% if current_user == @wad.user %>
					<form method="POST" action="/wads/<%= @wad.id %>/add_link">
						<span class="link-field"><input name="link" placeholder="<%= @wad.link %>" class="br-5"/><span data-toggle="tooltip" data-placement="right" title="Add a URL if you've started prototyping (press ENTER when finished)." class="question-marker-ps ml-1"><%= fa_icon('question') %></span></span>
					</form>
				<% end %>
			</div>
			<div class="col-4 wad-like-<%= @wad.id %>" data-check="panel">
				<% if !current_user.liked? @wad %>
					<%= link_to like_wad_path(@wad), method: :put, remote: true do %>
					<button type="button" name="button" class="comment-btn-alt pointer br-5">
						<span class="small">
							<%= fa_icon('caret-up 2x') %> Upvote
						</span>
						<span class="small">
							<%= @wad.get_upvotes.count %>
						</span>
					</button>
					<% end %>
				<% else %>
					<%= link_to dislike_wad_path(@wad), method: :put, remote: true do %>
					<button type="button" name="button" class="comment-btn pointer br-5">
						<span class="small">
							<%= fa_icon('caret-up 2x') %> Upvote
						</span>
						<span class="small">
							<%= @wad.get_upvotes.count %>
						</span>
					</button>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="container mb-1 d-block d-sm-none">
		<div class="row no-gutters">
			<div class="col-1">
				<% if current_user == @wad.user %>
					<span class="external-link"><%= fa_icon('external-link', class: "pointer") %></span>
				<% elsif !@wad.link.nil? %>
					<span id=""><%=link_to fa_icon('external-link', class: "pointer"), @wad.link, target: "_blank" %></span>
				<% end %>
			</div>
			<div class="col-5">
				<% if current_user == @wad.user %>
					<form method="POST" action="/wads/<%= @wad.id %>/add_link">
						<input name="link" placeholder="<%= @wad.link %>" class="br-5 link-field w-100"/>
					</form>
				<% end %>
			</div>

			<div class="col-6 wad-like-<%= @wad.id %>" data-check="panel">
				<% if !current_user.liked? @wad %>
					<%= link_to like_wad_path(@wad), method: :put, remote: true do %>
					<button type="button" name="button" class="comment-btn-alt pointer br-5">
						<%= fa_icon('caret-up 2x') %> <span class="align-text-top">Upvote</span>
						<span>
							<%= @wad.get_upvotes.count %>
						</span>
					</button>
					<% end %>
				<% else %>
					<%= link_to dislike_wad_path(@wad), method: :put, remote: true do %>
					<button type="button" name="button" class="comment-btn pointer br-5">
						<span class="small">
							<%= fa_icon('caret-up 2x', class: "") %> Upvote
						</span>
						<span class="small">
							<%= @wad.get_upvotes.count %>
						</span>
					</button>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
