<div class="card mb-4 wad-shadow"  style="border-radius: 10px; border-width: thin;">
    <div class="card-header col-md-5 text-center d-block d-sm-none">
      <% if wad.user.occupation.present? %>
          <span class="small mb-2"><%= link_to wad.user.name + " · " + wad.user.occupation, user_path(wad.user), class: "profile-link" %></span>
      <% else %>
          <span class="small mb-2"><%= link_to wad.user.name, user_path(wad.user), class: "profile-link" %></span>
      <% end %>
      <div class="col-1 dropdown dropleft d-block d-sm-none float-right">
        <span class="pointer" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= fa_icon('ellipsis-v') %>
        </span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% unless wad.user == current_user || wad.user.friends_with?(current_user) %>
           <span class="dropdown-item"><%= link_to fa_icon("user-plus", class: "profile-link") + " Add friend!", friend_requests_path(:friend_id => wad.user), :method => :post, class: "profile-link" %></span>
          <% end %>
          <span class="dropdown-item"><%= link_to fa_icon('flag', class: " profile-link pointer"), flag_wad_path(wad), remote: true, class: "profile-link" %><span>Flag Wad</span></span>
          <% if current_user == wad.user %>
          <span class="dropdown-item"><%= link_to fa_icon("trash", class: "profile-link pointer") + " Remove Wad", wad_path(wad), method: :delete, remote: true, class: "profile-link" %></span>
          <% end %>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-2 h-25 mx-auto">
        <%= link_to wad_comments_path(wad), data: { turbolinks: false } do %>
            <% if !wad.image.attached?  %>
              <%= image_tag "#{wad.category}.png", class: 'img-fluid rounded mx-auto mt-4 pr-0 d-none d-md-block', style: "width: 50px;" %>
              <%= image_tag "#{wad.category}.png", style: "width:200px;", class: 'img-fluid rounded mx-auto mt-2 mb-1 d-block d-sm-none' %>
            <% else %>
              <%= image_tag wad.image, class: 'img-fluid border border-light mt-4 d-none d-md-block ml-2 rounded-circle', style: "width: 100px; height: 100px;" %>
              <%= image_tag wad.image, class: 'img-fluid border mx-auto border-light mt-4 d-block d-sm-none rounded-circle', style: "width: 300px; height: 300px;" %>
            <% end %>
        <% end %>
    </div>

    <div class="col-md-10 mt-1">
      <%= link_to wad_comments_path(wad), data: { turbolinks: false }, class: "profile-link" do %>
          <h6 class="mt-3 d-none d-md-block"><%= wad.problem_state %></h6>
          <h6 class="mt-1 text-center d-block d-sm-none col-12"><%= wad.problem_state %></h6>
          <p class="small d-none d-md-block"><%= wad.long_form.truncate(280) %></p>
          <p class="text-center small d-block d-sm-none col-12"><%= wad.long_form.truncate(280) %></p>
      <% end %>
    </div>
  </div>
    <div class="card-footer d-none d-sm-block">
     <div class="row ml-4">
        <div class="col-md-5 d-none d-md-block text-center ">
          <span class="small"><%= link_to "@" + wad.user.name, user_path(wad.user), class: "profile-link orange-text", style: "" %></span>
        </div>
        <div class="col-3  small">
          <%= link_to wad_comments_path(wad), data: { turbolinks: false }, class: "profile-link" do %>
            <span><%= image_tag('comment-dots-regular.svg', class: "icon-pic") %></span>
            <span class="small font-weight-bold"><%= wad.comments.count %><span class="small align-middle font-weight-bold"> comments</span></span>
          <% end %>
        </div>
        <%# current way to display upvotes %>
        <div class="col-3 small">
          <% if current_user.voted_down_on?(wad) || !current_user.voted_for?(wad)%>
            <span class="wad-vote-span-<%= wad.id %>"><%= link_to image_tag('thumbs-up-regular.svg', class: "icon-pic"), like_wad_path(wad), method: :put, remote: true %></span>
          <% else %>
            <span class="wad-vote-span-<%= wad.id %>"><%= link_to image_tag('thumbs-up-orange.png', class: "png-icon"), dislike_wad_path(wad), method: :put, remote: true %></span>
          <% end %>
          <span class="small font-weight-bold wad-like-<%= wad.id %>" data-check="<%= current_user.liked? wad %>" id="wad-like-<%= wad.id %>"><%= wad.get_upvotes.size %></span><span class="small font-weight-bold"> votes</span>
        </div>
          <div class="col-md-1 dropdown dropleft d-none d-sm-block">
            <span class="pointer float-right" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= fa_icon('ellipsis-v') %>
            </span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <span class="dropdown-item profile-link"><%= link_to fa_icon('flag', class: " profile-link pointer") + " Flag Wad", flag_wad_path(wad), remote: true, class: "profile-link" %></span>
              <% if current_user == wad.user %>
              <span class="dropdown-item profile-link"><%= link_to fa_icon("trash", class: "profile-link pointer") + " Remove Wad", wad_path(wad), method: :delete, remote: true, class: "profile-link" %></span>
              <% end %>
              <% unless wad.user == current_user || wad.user.friends_with?(current_user) %>
               <span class="dropdown-item profile-link"><%= link_to fa_icon("user-plus", class: "profile-link") + " Add friend!", friend_requests_path(:friend_id => wad.user), :method => :post, class: "profile-link" %></span>
              <% end %>
              <% unless wad.user == current_user %>
                <% if Conversation.between(current_user.id, wad.user.id)[0] %>
                   <span class="dropdown-item profile-link"><%= link_to fa_icon("envelope", class: "profile-link  ") + " Send message", conversation_messages_path(Conversation.between(current_user.id, wad.user.id)[0]), class: "profile-link" %></span>
                <% else %>
                   <span class="dropdown-item profile-link"><%= link_to fa_icon("envelope", class: "profile-link") + " Send message", conversations_path(:user_id => wad.user.id), :method => :post, class: "profile-link" %></span>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
    <div class="card-footer d-block d-sm-none">
      <div class="row col-12 ml-4">
        <div class="col-6  small">
          <%= link_to wad_comments_path(wad), data: { turbolinks: false }, class: "profile-link" do %>
            <span><%= image_tag('comment-dots-regular.svg', class: "icon-pic") %></span>
            <span class="small font-weight-light"><%= wad.comments.count %><span class="small align-middle"> comments</span></span>
          <% end %>
        </div>
        <%# current way to display upvotes %>
        <div class="col-6 small">
          <% if current_user.voted_down_on?(wad) || !current_user.voted_for?(wad)%>
            <span class="wad-vote-span-<%= wad.id %>"><%= link_to image_tag('thumbs-up-regular.svg', class: "icon-pic"), like_wad_path(wad), method: :put, remote: true %></span>
          <% else %>
            <span class="wad-vote-span-<%= wad.id %>"><%= link_to image_tag('thumbs-up-orange.png', class: "png-icon"), dislike_wad_path(wad), method: :put, remote: true %></span>
          <% end %>
          <span class="small font-weight-light wad-like-<%= wad.id %>" data-check="<%= current_user.liked? wad %>" id=""><%= wad.get_upvotes.size %></span><span class="small font-weight-light"> votes</span>
        </div>
      </div>
    </div>
</div>
