<div style="border-radius: 10px;" class="card shadow-sm">
  <div style="background-color: rgb(40,53,54); border-radius: 10px 10px 0px 0px; height: 55px;" class="card-header text-center text-white">
    <div class="row mt-1">
      <div id="menu-btn" class="col-6 nav-btn border-right">
          Categories
      </div>
      <div id="new-wad-btn" class="col-6 nav-btn">
          New Wad
      </div>
    </div>
  </div>
  <div id="wad-new-form" class="card-body">
    <%= form_for @wad, html: { multipart: true } do |f| %>

    <div data-toggle="tooltip" title="Information on the problem statement goes here" data-placement="left">
      <%= f.text_field :problem_state, placeholder: "Problem Statement", class: 'form-control form-control-sm col-11 mx-auto mt-3 mb-2 wad-form-item' %>
    </div>

    <%= f.select :category,
              options_for_select(
                [
                  "B2B Tech",
                  "Consumer Products",
                  "Events",
                  "Media and Entertainment",
                  "Consumer Tech",
                  "Social Entrepreneurship",
                  "Location Specific",
                  "Avant-garde"
                  ]
              ),
              {},
              class: 'form-control form-control-sm col-11 mx-auto mb-2 wad-form-item' %>

    <div data-toggle="tooltip" title="Information on the tags goes here" data-placement="left"><%= f.text_field :tags, placeholder: "seperate using ', '", class: 'form-control form-control-sm col-11 mx-auto mb-2 wad-form-item' %></div>


    <div data-toggle="tooltip" title="Information on the Pitch goes here" data-placement="left"><%= f.text_area :long_form, placeholder: "The Pitch",class: 'form-control form-control-sm col-11 mx-auto mb-2 ', style: "resize: none;", :rows => 8 %></div>

    <div class="upload-div col-11 ml-3 text-center pt-1"><%= f.label :image, fa_icon('upload') + " Upload an image", class: "mx-auto pointer" %>
    <%= f.file_field :image, class: 'form-control-file pl-5 col-11 mx-auto mb-2 inputfile' %></div><br>
    <div class="text-center"><%= link_to "Gotta BIG Idea?", new_wad_path, class: "small profile-link mb-1 align-top" %></div>
    <div class="text-center"><%= f.submit "Spitball", class: "theme-btn pointer" %></div>
    <% end %>
  </div>
  <div id="nav-menu" class="">

  </div>
</div>
