TITLE, a <%= @wad.category %> Project by 
<%= link_to user_path(@owner) do %>
				<%= @wad.user.name %><br>
		  <% end %>
 <%= @wad.long_form %><br>
	<%= link_to like_wad_path(@wad), method: :put do %>
			 Upvote
			 <%= @wad.get_upvotes.size %>
	<% end %>
	<% if current_user == @wad.user %>
		<%= link_to wad_path(@wad), method: :delete do %>
			Delete
		<% end %>
	<% end %>
<div class="wad-image">
	<%= image_tag @wad.image.url(:medium) %>
</div>

