<div class="row col-6 text-center ml-5">
  <div class="col-6">
    <%= link_to wad_comments_path(wad), class: "profile-link" do %>
      <span><%= image_tag('comment-dots-regular.svg', class: "icon-pic") %></span>
      <span class="small font-weight-light"><%= wad.comments.count %> comments</span>
    <% end %>
  </div>
  <%# current way to display upvotes %>
  <div class="col-4">
    <% if current_user.voted_down_on? wad %>
      <span id="wad-vote-span-<%= wad.id %>"><%= link_to fa_icon("thumbs-up", class: "profile-link"), like_wad_path(wad), method: :put, remote: true %></span>
    <% elsif !current_user.voted_for? wad %>
      <span id="wad-vote-span-<%= wad.id %>"><%= link_to fa_icon("thumbs-up", class: "profile-link"), like_wad_path(wad), method: :put, remote: true %></span>        
    <% else %>
      <span id="wad-vote-span-<%= wad.id %>"><%= link_to fa_icon("thumbs-down", class: "profile-link"), dislike_wad_path(wad), method: :put, remote: true %></span>
    <% end %>
    <span class="small font-weight-light" data-check="<%= current_user.voted_for? wad %>" id="wad-like-<%= wad.id %>"><%= wad.get_upvotes.size %> votes</span>
  </div>
</div>