<div class="list-group-item">
  <div class="row">
    <div class="col-3 justify-content-center align-items-center">
      <%= image_tag wad.image.url(:thumb), class: 'img-fluid' %>
    </div>

    <div class="col-md-6 col-9">
      <h5><%= wad.problem_state %></h5>
      <p><%= wad.short_form %></p>
      <p class="text-right">
        <%= link_to 'Comment', wad_comments_path(wad) %>
      </p>
    </div>

    <%= render 'wads/actions', wad: wad %>
  </div>
</div>
