<div class="border-bottom pb-4"  style="border-width: thin;">
    <!--<div class="card-header col-md-5 text-center d-block d-sm-none float-left">
      <% if wad.user.occupation.present? %>
          <span class="small mb-2"><%= link_to wad.user.name + " · " + wad.user.occupation, user_path(wad.user), class: "profile-link" %></span>
      <% else %>
          <span class="small mb-2"><%= link_to wad.user.name, user_path(wad.user), class: "profile-link" %></span>
      <% end %>
      <div class="col-1 dropdown dropleft d-block d-sm-none float-right">
        <span class="pointer" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= fa_icon('ellipsis-v', class: "icon-text") %>
        </span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <span class="dropdown-item"><%= link_to fa_icon('flag', class: " profile-link pointer"), flag_wad_path(wad), remote: true, class: "profile-link" %><span>Flag Wad</span></span>
          <% if current_user == wad.user %>
          <span class="dropdown-item"><%= link_to fa_icon("trash", class: "profile-link pointer") + " Remove Wad", wad_path(wad), method: :delete, remote: true, class: "profile-link" %></span>
          <% end %>
        </div>
      </div>
    </div>-->

  <div class="row">
    <div class="col-md-8 ml-md-3 py-3 pl-4">
      <% case wad.category
      when "Technology and Apps" %><span class="small mt-5 techCategory px-3 py-1 br-5">TECH & APPS</span>
        <% when "Non-profit and Social Entrepreneurship" %><span class="small mt-5 socialCategory px-3 py-1 br-5">NON-PROFIT</span>
        <% when "Finance and B2B" %><span class="small mt-5 financeCategory px-3 py-1 br-5">FINANCE</span>
        <% when "Media and Entertainment" %><span class="small mt-5 mediaCategory px-3 py-1 br-5">MEDIA</span>
        <% when "Hardware and Gadgets" %><span class="small mt-5 gadgetCategory px-3 py-1 br-5">GADGETS</span>
        <% when "Events and Lifestyle" %><span class="small mt-5 eventCategory px-3 py-1 br-5">LIFESTYLE</span>
        <% when "Avant-garde" %><span class="small mt-5 avantCategory px-3 py-1 br-5">AVANTE-GARDE</span>
      <% end %>
        <h6 class="mt-3 d-none d-md-block"><%= wad.problem_state %></h6>
        <div class="mt-1 d-block d-sm-none col-12 py-2"><%= wad.problem_state %></div>
        <p class="small d-none d-md-block"><%= wad.long_form.truncate(280) %></p>
        <p class="small d-block d-sm-none col-12"><%= wad.long_form.truncate(280) %></p>
    </div>
    <div class="col-md-3 ml-md-4">
      <div class="float-right mt-3 w-100">
        <div class="row">
          <div class="col-8">

          </div>
          <div class="col-2 dropdown d-none d-md-block">
            <span id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= fa_icon('ellipsis-h', class: "wad-ellipsis pointer", id: "") %>
            </span>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <span class="dropdown-item profile-link"><%= link_to fa_icon('flag', class: " profile-link pointer") + " Flag Wad", flag_wad_path(wad), remote: true, class: "profile-link" %></span>
              <% if current_user == wad.user %>
              <span class="dropdown-item profile-link"><%= link_to fa_icon("trash", class: "profile-link pointer") + " Remove Wad", wad_path(wad), method: :delete, remote: true, class: "profile-link" %></span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="d-none d-sm-block"> <!--Desktop Buttons-->
          <div class="mt-4 wad-like-<%= wad.id%>">
            <% if current_user.liked?(wad) %>
              <%= link_to dislike_wad_path(wad), class: "profile-link", method: :put, remote: true do %>
                <div class="border py-2 px-3 br-5 likeBtn text-white pointer">
                  <div class="row">
                    <div class="col-2">
                      <%= fa_icon('thumbs-down') %>
                    </div>
                    <div class="col-8">
                      <div class="small float-right mt-1">
                        <%= wad.get_upvotes.size %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <%= link_to like_wad_path(wad), class: "profile-link", method: :put, remote: true do %>
              <div class="border py-2 px-3 br-5 likeBtn text-white pointer">
                <div class="row">
                  <div class="col-2">
                    <%= fa_icon('thumbs-up') %>
                  </div>
                  <div class="col-8">
                    <div class="small float-right mt-1">
                      <%= wad.get_upvotes.size %>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
          <div class="mt-3 mb-3">
            <%= link_to wad_comments_path(wad, wad.comments), class: "profile-link" do %>
              <div class="border border-dark p-2 br-5 pointer">
                <div class="row">
                  <div class="col-2 ml-1">
                    <%= image_tag('comment-heart.svg') %>
                  </div>
                  <div class="col-8 small">
                    <div class="small float-right mt-1">
                      <span class="small"><%= wad.comments.count.to_s  + " " + "COMMENTS" %></span>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="d-block d-sm-none"> <!--Mobile Buttons-->
          <div class="row col-12">
            <div class="col-6 wad-like-<%= wad.id%>">
              <% if current_user.liked?(wad) %>
                <%= link_to dislike_wad_path(wad), class: "profile-link", method: :put, remote: true do %>
                  <div class="border py-2 px-3 br-5 likeBtn text-white pointer">
                    <div class="row">
                      <div class="col-2">
                        <%= fa_icon('thumbs-down') %>
                      </div>
                      <div class="col-8">
                        <div class="small float-right mt-1">
                          <%= wad.get_upvotes.size %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <%= link_to like_wad_path(wad), class: "profile-link", method: :put, remote: true do %>
                <div class="border py-2 px-3 br-5 likeBtn text-white pointer">
                  <div class="row">
                    <div class="col-2">
                      <%= fa_icon('thumbs-up') %>
                    </div>
                    <div class="col-8">
                      <div class="small float-right mt-1">
                        <%= wad.get_upvotes.size %>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              <% end %>
            </div>
            <div class="col-6">
              <%= link_to wad_comments_path(wad, wad.comments), class: "profile-link" do %>
                <div class="border border-dark p-2 br-5 pointer small">
                  <div class="row small">
                    <div class="col-2 ml-1">
                      <%= image_tag('comment-heart.svg') %>
                    </div>
                    <div class="col-8 small">
                      <div class="small float-right mt-1">
                        <span class="small"><%= wad.comments.count.to_s  + " " + "COMMENTS" %></span>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--
    <div class="d-none d-sm-block">
     <div class="row mb-2">
      <%= link_to wad_comments_path(wad), class: "profile-link col-6", data: { turbolinks: false } do %>
        <div class="col-md-6">

        </div>
      <% end %>
      <div class="col-md-6 row no-gutters">
        <%= link_to wad_comments_path(wad), class: "profile-link col-6", data: { turbolinks: false } do %>
          <div class="col-6">

          </div>
        <% end %>
        <div class="col-2 small">
          <%= link_to wad_comments_path(wad), data: { turbolinks: false }, class: "profile-link" do %>
            <span><%= image_tag('comment-dots-regular.svg', class: "icon-pic") %></span>
            <span class="small font-weight-bold"><%= wad.comments.count %></span>
          <% end %>
        </div>
        <%# current way to display upvotes %>
        <div class="col-2 small">
          <% if current_user.voted_down_on?(wad) || !current_user.voted_for?(wad)%>
          <% else %>
            <span class="wad-vote-span-<%= wad.id %>"><%= link_to image_tag('thumbs-up-orange.png', class: "png-icon"), dislike_wad_path(wad), method: :put, remote: true %></span>
          <% end %>
          <span class="small font-weight-bold wad-like-<%= wad.id %>" data-check="<%= current_user.liked? wad %>" id="wad-like-<%= wad.id %>"><%= wad.get_upvotes.size %></span>
        </div>
          <div class="col-1 dropdown dropleft d-none d-sm-block">
            <span class="pointer float-right" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= fa_icon('ellipsis-v', class: "icon-text") %>
            </span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <span class="dropdown-item profile-link"><%= link_to fa_icon('flag', class: " profile-link pointer") + " Flag Wad", flag_wad_path(wad), remote: true, class: "profile-link" %></span>
              <% if current_user == wad.user %>
              <span class="dropdown-item profile-link"><%= link_to fa_icon("trash", class: "profile-link pointer") + " Remove Wad", wad_path(wad), method: :delete, remote: true, class: "profile-link" %></span>
              <% end %>
              <% unless wad.user == current_user %>
                <% if Conversation.between(current_user.id, wad.user.id)[0] %>
                   <span class="dropdown-item profile-link"><%= link_to fa_icon("envelope", class: "profile-link  ") + " Send message", conversations_path(conversation_id: Conversation.between(current_user.id, wad.user.id)[0]), class: "profile-link" %></span>
                <% else %>
                   <span class="dropdown-item profile-link"><%= link_to fa_icon("envelope", class: "profile-link") + " Send message", conversations_path(:user_id => wad.user.id), :method => :post, class: "profile-link" %></span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->
</div>
