<div onmouseover='showTrash("<%= wad.id %>")' onmouseleave='hideTrash("<%= wad.id %>")' class="card mb-4 shadow "  style="border-radius: 10px; border-width: thin;">
<div class="">
  <% if current_user == wad.user %>
    <span id="trash-<%= wad.id %>" class="trash"><%= link_to fa_icon("trash", class: "profile-link"), wad_path(wad), method: :delete, remote: true%></span>
  <% end %>
</div>
  <div class="row col-12 mb-3">

    <div class="col-2 mt-2 text-center">
        <%= link_to wad_comments_path(wad) do %>
            <% if wad.image.url(:medium) == "/images/medium/missing.png"  %>
              <%= image_tag "bulb.png", class: 'img-fluid h-50 rounded mt-5' %>
            <% else %>
              <%= image_tag wad.image.url(:medium), class: 'img-fluid border border-light rounded-circle' %>
            <% end %>
        <% end %>
    </div>

    <div class="col-10 mt-4">
        <%= link_to wad_comments_path(wad), class: 'wad-link' do %>
            <h6 class="mt-3"><%= wad.problem_state %></h6>
            <p class="small"><%= wad.long_form %></p>
        <% end %>
    </div>
  </div>

     <div class="row col-12 mb-2 ml-1">

        <div class="col-5 text-center ml-3">
          <span class="orange-text"><%= link_to "@" + wad.user.name, user_path(wad.user), class: "profile-link orange-text", style: "" %></span>
        </div>

        
         <div class="row col-6 text-center ml-5">
            <div class="col-6">
              <%= link_to wad_comments_path(wad), class: "profile-link" do %>
                <span><%= image_tag('comment-dots-regular.svg', class: "icon-pic") %></span>
                <span class="small font-weight-light"><%= wad.comments.count %> comments</span>
              <% end %>
            </div>
            <%# current way to display upvotes %>
            <div class="col-4">
              <% if current_user.voted_down_on? wad %>
                <span id="wad-vote-span-<%= wad.id %>"><%= link_to image_tag('thumbs-up-regular.svg', class: "icon-pic"), like_wad_path(wad), method: :put, remote: true %></span>
              <% elsif !current_user.voted_for? wad %>
                <span id="wad-vote-span-<%= wad.id %>"><%= link_to image_tag('thumbs-up-regular.svg', class: "icon-pic"), like_wad_path(wad), method: :put, remote: true %></span>        
              <% else %>
                <span id="wad-vote-span-<%= wad.id %>"><%= link_to image_tag('thumbs-up-regular.svg', class: "icon-pic svg-icon"), dislike_wad_path(wad), method: :put, remote: true %></span>
              <% end %>
              <span class="small font-weight-light" data-check="<%= current_user.voted_for? wad %>" id="wad-like-<%= wad.id %>"><%= wad.get_upvotes.size %> votes</span>
            </div>

        </div>
    </div> 

</div>
