<div class="list-group-item wad-list-group-item">
  <div class="row col-12 mb-5">

    <div class="col-3 mt-2 text-center">
        <%= link_to wad_comments_path(wad) do %>
            <% if wad.image.url(:medium) == "/images/medium/missing.png"  %>
              <%= image_tag "spitball_b.png", class: 'img-fluid h-75 border border-dark rounded' %>
            <% else %>
              <%= image_tag wad.image.url(:medium), class: 'img-fluid border border-light rounded-circle' %>
            <% end %>
        <% end %>
     </div>

     <div class="wadinfo col-9 mt-1">
        <%= link_to wad_comments_path(wad), class: 'wad-link' do %>
            <h6 class><%= wad.problem_state %></h6>
            <p class="small"><%= wad.long_form %></p>
        <% end %>
     </div>

   </div>
       
   <div class="actions row col-12 text-center">

      <div class="float-right col-1">
        <% if current_user == wad.user %>
          <%= link_to fa_icon("trash", class: "profile-link pr-3"), wad_path(wad), method: :delete, remote: true%>
        <% end %>
      </div>
      <div class="actions col-2">
        <span><%= link_to fa_icon("chevron-circle-up", class: "profile-link"), like_wad_path(wad), method: :put, remote: true %></span>
        <span data-check="<%= current_user.voted_for? wad %>" id="like-<%= wad.id %>"><%= wad.get_upvotes.size %></span>
      </div>
    

   </div>                        
</div>
