<div class="list-group-item wad-list-group-item">
  <div class="row">
    <%= link_to wad_comments_path(wad), class: 'col-3 justify-content-center align-items-center' do %>
      <%= image_tag wad.image.url(:thumb), class: 'img-fluid' %>
    <% end %>

    <%= link_to wad_comments_path(wad), class: 'wad-link' do %>
      <div class="col-md-6 col-9">
        <h5><%= wad.problem_state %></h5>
        <p><%= wad.short_form %></p>
        <p class="text-right wad-comment">
          <%= link_to fa_icon("comment"), wad_comments_path(wad), class: "profile-link" %>
        </p>
      </div>
    <% end %>

    <%= render 'wads/actions', wad: wad %>
  </div>
</div>
