<div class="list-group-item wad-list-group-item">
  <div class="row">
        <%= link_to wad_comments_path(wad), class: 'col-3 justify-content-center align-items-center' do %>
        <%= image_tag wad.image.url(:thumb), class: 'img-fluid' %>

        <% end %>

        <%= link_to wad_comments_path(wad), class: 'wad-link' do %>
            <div class="wadinfo">
                <h6 class><%= wad.problem_state %></h6>
                <p class="small"><%= wad.short_form %></p>
            </div>
           <% end %>
           <div class="trash">
            <% if current_user == wad.user %>
              <%= link_to fa_icon("trash", class: "profile-link"), wad_path(wad), method: :delete%>
            <% end %>
          </div>
   </div>
       
     <div class="actions">
                    <%= link_to fa_icon("comment"), wad_comments_path(wad), class: "profile-link" %> &nbsp;
                    <%= link_to fa_icon("chevron-circle-up", class: "profile-link"), like_wad_path(wad), method: :put %>
                    <%= wad.get_upvotes.size %>
        </div>              
              
</div>
