<%# needs to be move to appropriate file %>
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

<div class= "page">
<h1> Wads </h1>
<h2>
	<%= button_to new_wad_path, method: :get do %>
		<%= image_tag("new_wad_btn.png") %>
	<% end %>
</h2>

<%= render "sidebar" %>

<%# Popular Wads display %>
<p class="wad-index-font">
	Popular Wads
	<div class="wad-index">
		<%= render "pop_wads" %>
	</div>
</p>

<%# The display for all wads%>
<p class="wad-index-font">
	All Wads
	<div class="wad-index">
		<%= render "all_wads" %>
	</div>

</p>

<%= will_paginate @wads %>
</div>
</div>