<h1> Wads </h1>

<% @wads.each do |wad| %>
		<ul class="wad">
	<%= wad.category %>: 
	<%= link_to wad_comments_path(wad) do %>
		<%= wad.short_form %>
		</ul>
	<% end %>
	<%= button_to like_wad_path(wad), method: :put do %>
		  Upvote
		  <%= wad.get_upvotes.size %>
		<% end %>
<% end %>
<%= will_paginate @wads %>