<h1> What's on your mind?</h1><br>

<div class="wad-tips">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LT-WH4kW-RQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br>
</div>

<div class="wad-form">
    <%= form_for @wad, html: { multipart: true } do |f| %>

      <%= f.select :category, options_for_select(["Art", "B2B Saas", "Finance", "Hardware", "Small Business", "Consumer Tech", "Other"]) %>

      <%= f.label :problem_state, "What are you trying to solve?" %>
      <%= f.text_field :problem_state, class: 'form-control' %>

      <%= f.label :short_form, "Describe your solution in about 10 words" %>
      <%= f.text_field :short_form, class: 'form-control' %>

      <%= f.label :long_form, "Now really think it out (max. 500 words)" %>
      <%= f.text_area :long_form, class: 'form-control' %>
      
      <%= f.label :image, "Any images?" %>
      <%= f.file_field :image %>

      <%= f.submit "Submit Wad", class: "btn btn-primary" %>
    <% end %>

</div>
  <p class="tips-description">Serial entrepreneur Jim Marggraf, CEO and Founder, Eyefluence, on problem solving.</p>

