<%= link_to wads_path do %>
    <button class="navbutton mt-4 shadow-sm mx-auto"><%= fa_icon("arrow-left 2x") %></button>
<% end %>
<div class="row col-12 no-gutters">
  <div class="row col-md-8 col-xs-12 text-center mx-auto">
    <div class="col-md-10 col-xs-12 mx-auto">
      <div class="row card-md mt-1">
        <div class="col-12 form-control-sm small">
          <div class="row">
                <div class="form-group col-6">
                  <%= form_for @wad, html: { multipart: true } do |f| %>
                      <%= f.label :category %>
                      <%= f.select :category,
                                  options_for_select(
                                    [
                                      "B2B Tech",
                                      "Consumer Products",
                                      "Events",
                                      "Media and Entertainment",
                                      "Consumer Tech",
                                      "Social Entrepreneurship",
                                      "Location Specific",
                                      "Avant-garde"
                                      ]
                                  ),
                                  {},
                                  class: 'form-control form-control-sm' %>
                </div>
                <div class="col-6">  
                   <%= f.label :tags, "Tags" %>
                   <%= f.text_field :tags, placeholder: "seperate using ', '", class: 'form-control form-control-sm'  %> 
                </div>
          </div>

            <div class="form-group">
              <%= f.label :problem_state, "Call to Action/Problem Statement" %><span data-toggle="tooltip" data-placement="right" title="Here is where you should set the frame for your idea. Generally speaking, ventures are concieved and executed as a means of solving problems. What is the problem you're seeking to solve? "class="pl-1 question-marker-ps"><%= fa_icon('question') %></span>
              <%= f.text_field :problem_state, class: 'form-control form-control-sm', id: "focus-field"  %>
            </div>

            <div class="form-group">
              <%= f.label :long_form, "The Pitch" %><span data-toggle="tooltip" data-placement="right" title="This is where you should really think out your idea. What is the target demographic it's going to serve, how will it serve them? Consider how your idea is different than other similar products currently on the market and why someone would pick yours over competitors." class="pl-1 question-marker-ps"><%= fa_icon('question') %></span>
              <%= f.text_area :long_form, class: 'form-control form-control-sm', style: "resize: none;", :rows => 8 %>
            </div>
            <div class="row">
              <div class="form-group col-md-6 col-xs-12 ml-5 upload-div mx-auto">
                <%= f.label :image, fa_icon('upload') + " Upload an image", class: "mx-auto pointer mt-2" %>
                <%= f.file_field :image, class: 'form-control-file pl-5 col-11 mx-auto mb-2 inputfile' %>
              </div>
              <div class="col-md-5 col-xs-12">
                <!-- I want to use logo's text inside of button --> 
                <%= f.submit "Spitball", class: "wadnewbutton d-none d-md-block" %>
                <%= f.submit "Spitball", class: "wadnewbutton mx-auto d-block d-sm-none" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
