<div class="row">
  <div class="col-7 mx-auto">
    <div class="row card">
      <div class="col-12">
        <h1 class="text-center"> What's your idea?</h1><br>
      </div>

      <div class="d-none d-md-flex col-9 mx-auto">

      </div>

      <div class="col-12">
        <%= form_for @wad, html: { multipart: true } do |f| %>
          <div class="form-group col-5" style="display:inline-block;">
            <%= f.label :category %>
            <%= f.select :category,
                        options_for_select(
                          [
                            "Art",
                            "B2B Saas",
                            "Finance",
                            "Hardware",
                            "Small Business",
                            "Consumer Tech",
                            "Other"
                            ]
                        ),
                        {},
                        class: 'form-control' %>
          </div>
          <div class="col-7" style="float:right;">  
              <%= f.label :tags, "Tags" %>
              <%= f.text_field :tags, placeholder: "seperate using ', '", multiple: true, class: 'form-control'   %> 
          </div>
          <div class="form-group" style="padding-left: 15px; padding-right: 15px;">
            <%= f.label :problem_state, "Problem Statement" %>
            <%= f.text_field :problem_state, class: 'form-control' %>
          </div>

          <div class="form-group" style="padding-left: 15px; padding-right: 15px;">
            <%= f.label :long_form, "The Pitch" %>
            <%= f.text_area :long_form, class: 'form-control', style: "resize: none;", :rows => 8 %>
          </div>

          <div class="form-group" style="padding-left: 15px; display:inline-block;">
            <%= f.label :image, "Images" %>
            <%= f.file_field :image, class: 'form-control-file' %>
          </div>
          <div style="float; right; display:inline-block;">
            <%= f.submit "Submit Wad", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
