<div class="row">
  <div class="col-md-6 mx-auto">
    <%= form_for @user, html: { multipart: true } do |f| %>
      <%= render 'shared/error_messages' %>

       <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :user_name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

       <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>

       <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>

       <div class="form-group">
        <%= f.label :twitter %>
        <%= f.password_field :twitter, class: 'form-control' %>
      </div>

       <div class="form-group">
        <%= f.label :linkedin %>
        <%= f.password_field :linkedin, class: 'form-control' %>
      </div>

       <div class="form-group">
        <%= f.label :github %>
        <%= f.password_field :github, class: 'form-control' %>
      </div>
     
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :photo, "Profile Pic" %>
        <%= f.file_field :photo, class: 'form-control-file' %>
      </div>

      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
