<div class="row col-md-10 col-xs-12 mt-3">
  <div class="col-12 mb-3 mr-2">
    <div class="thick-border-bottom">
      <div class="row mt-2 mb-4">
        <div class="col-2 mt-2 pr-0">
          <div class="">
            <%= image_tag @user.photo.url(:thumb), class: "rounded-circle profile-img pr-0" %>
          </div>
        </div>
        <div class="col-5 mt-1 pl-0">
          <div class="small">
            <b>
              <% unless !@user.first_name || !@user.last_name %>
                <%= @user.first_name %> <%= @user.last_name %>
              <% else %>
                <%= @user.name %>
              <% end %>
            </b>
          </div>
          <% if @user.occupation %>
          <div id="occupation-div" class="col-md-3 col-xs-6 small mt-2">
            <div class="py-1 small text-center">
              <%= @user.occupation %>
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-5 social-icons ml-2 row">
          <div class="col-4">
            <%= link_to fa_icon('github-alt'), @user.github %> <span class="small"><%= @user.first_name %></span>
          </div>
          <div class="col-4">
            <%= link_to fa_icon('linkedin'), @user.linkedin %> <span class="small"><%= @user.first_name %></span>
          </div>
          <div class="col-4">
            <%= link_to fa_icon('twitter'), @user.twitter %> <span class="small"><%= @user.first_name %></span>
          </div>
        </div>
      </div>
      <div class="row mb-5 small">
        <div class="col-md-4 col-xs-12">
        <% unless @user == current_user %>
          <% if @conversation.present? || !@conversation.nil? %>
            <%= link_to fa_icon("envelope", class: "non-social-icons align-middle"), conversation_messages_path(@conversation) %><span class="small ml-2">message <%= @user.name %></span>
          <% else %>
            <%= link_to fa_icon("envelope", class: "non-social-icons align-middle"), conversations_path(user_id: @user.id), :method => :post %><span class="small ml-2">message <%= @user.name %></span>
          <% end %>
        </div>
        <div class="col-md-4 col-xs-12">
          <%= link_to fa_icon('users', class: "non-social-icons align-middle"), friend_requests_path(:friend_id => @user), :method => :post %><span class="small ml-2"><%= @user.name %>'s friends</span>
        </div>
        <% end %>

        <div class="col-md-4 col-xs-12">
          <% if @user.location && @user.location != "" %><%= fa_icon('map-pin', class: "non-social-icons align-middle") %><span class="small ml-2"><%= @user.location %></span><% end %>
        </div>
      </div>
    </div>
  </div>
</div>
