<div class="row">
  <div class="col-12 mb-3">
    <div class="jumbotron p-3">
      <h5 class="display-5 container text-profile">
        <div class="row mb-3">

          <div class="col-md-3 col-4 text-center">
           
              <%= image_tag @user.photo.url(:medium), class: 'img-fluid border border-light rounded-circle' %>
    

            <p class="text-center"><%= @user.points %></p>
          </div>
          <div class="col-md-5 col-8">
            <p>
              <%= @user.first_name %> <%= @user.last_name %>  - <%= @user.occupation %><br>
                <span style="font-size:15px;"> @<%= @user.name %> </span>
            </p>
            <% unless @user == current_user %>
             <%= link_to fa_icon("user-plus", class: "profile-link pr-3"), friend_requests_path(:friend_id => @user), :method => :post %>     
             <% if @conversation.present? %>
                <%= link_to fa_icon("envelope", class: "profile-link pr-3"), conversation_messages_path(@conversation) %>
             <% else %>
                <%= link_to fa_icon("envelope", class: "profile-link pr-3"), conversations_path(:user_id => @user.id), :method => :post %>
             <% end %>
            <% end %>
            <p class="small">
              <% if @user.location.present? %>
                <%= link_to "https://www.google.com/maps/place/#{@user.location}", class: "profile-link" do %>
                  <%= fa_icon("map-marker th", text: @user.location) %> <br>
                <% end %>
              <% end %>              
            </p>
            <div class="text-right d-block d-sm-none">
              <% if @user.twitter.present? %>
                <%= link_to fa_icon("twitter"), "http://www.twitter.com/#{@user.twitter}", class: "profile-link" %>
              <% end %>
              <% if @user.linkedin.present? %>
                <%= link_to fa_icon("linkedin"), @user.linkedin, class: "profile-link" %>
              <% end %>
              <% if @user.github.present? %>
                <%= link_to fa_icon("github"), @user.github, class: "profile-link" %>
              <% end %>
            </div>
          </div>
          <div class="col-md-5 col-sm-12 d-none d-sm-block float-right social-link">
            <% if @user.twitter.present? %>
              <%= link_to fa_icon("twitter"), "http://www.twitter.com/#{@user.twitter}", class: "profile-link" %> <br>
            <% end %>
            <% if @user.linkedin.present? %>
              <%= link_to fa_icon("linkedin"), @user.linkedin, class: "profile-link" %> <br>
            <% end %>
            <% if @user.github.present? %>
              <%= link_to fa_icon("github"), @user.github, class: "profile-link" %>
            <% end %>
          </div>
        </div>
        <div class="row d-none d-sm-block">
          <div class="col-12">
            <h6><%= @user.name %>'s interests:</h6>
            <div class="badge badge-secondary"><%= @interest_1 %></div>
            <div class="badge badge-secondary"><%= @interest_2 %></div>
            <div class="badge badge-secondary"><%= @interest_3 %></div>
          </div>
        </div>
      </h5>

    </div>
  </div>
</div>
