<div class="row">
  <div class="col-12 mb-3">
    <div class="jumbotron p-3">
      <h5 class="display-5 container text-profile">
        <div class="row mb-3">

          <div class="col-md-3 col-4 text-center">
            <%= image_tag @user.photo.url(:medium), class: "img-fluid border rounded-circle" %>
            <p class="text-center"><%= @user.points %></p>
          </div>
          <div class="col-md-5 col-8">
            <p>
              <%= @user.first_name %> <%= @user.last_name %> -  <%= @user.occupation %><br>
                <span style="font-size:15px;"> @<%= @user.name %> </span>
            </p>



 
            <% unless @user == current_user %>
            	<%= link_to "Connect", friend_requests_path(:friend_id => @user), :method => :post %>
            <% else %>
                <%= link_to "View Friend Requests", friend_requests_path %>
            <% end %>


             <%= link_to "Message this person", conversations_path(:conversation_id => @conversation), :method => :post %>
             




            <p class="small">
              <% if @user.location.present? %>
                <%= fa_icon("map-marker th", text: @user.location) %> <br>
              <% end %>              
            <%# &lt;<%= @user.email &gt; %>
            </p>
            <div class="text-right d-block d-sm-none">
              <% if @user.twitter.present? %>
                <%= link_to fa_icon("twitter"), "http://www.twitter.com/#{@user.twitter}", class: "profile-link" %>
              <% end %>
              <% if @user.linkedin.present? %>
                <%= link_to fa_icon("linkedin"), @user.linkedin, class: "profile-link" %>
              <% end %>
              <% if @user.github.present? %>
                <%= link_to fa_icon("github"), @user.github, class: "profile-link" %>
              <% end %>
            </div>
          </div>
          <div class="col-md-5 col-sm-12 d-none d-sm-block float-right social-link">
            <% if @user.twitter.present? %>
              <%= link_to fa_icon("twitter"), "http://www.twitter.com/#{@user.twitter}", class: "profile-link" %> <br>
            <% end %>
            <% if @user.linkedin.present? %>
              <%= link_to fa_icon("linkedin"), @user.linkedin, class: "profile-link" %> <br>
            <% end %>
            <% if @user.github.present? %>
              <%= link_to fa_icon("github"), @user.github, class: "profile-link" %>
            <% end %>
          </div>
        </div>
        <div class="row d-none d-sm-block">
          <div class="col-12">
            <h6><%= @user.name %>'s interests:</h6>
            <div class="badge badge-secondary"><%= @interest_1 %></div>
            <div class="badge badge-secondary"><%= @interest_2 %></div>
            <div class="badge badge-secondary"><%= @interest_3 %></div>
          </div>
        </div>
      </h5>

    </div>
  </div>
</div>
