<% provide(:title, @user.name) %>
<div class="row ml-1">
	<div class="col-md-2.5 d-none d-md-block">
		<%= render 'wads/sidebar' %>
	</div>
	<div class="col-md-9 col-xs-12">
		<%= render 'users/user_profile_header' %>
		<div class="container">
			<div class="">
				<div class="row my-3 col-md-10 col-xs-12 tab text-center">
					<h4 id="defaultOpen" class="col-md-3 col-xs-3 small tablinks pointer" onclick="openContent(event, 'Wads')"><b><% unless @user == current_user %><%= @user.name %>'s Wads<% else %> Your Wads<% end %></b></h4>
					<h4 class="col-md-3 col-xs-3 small tablinks pointer" onclick="openContent(event, 'Comments')"><b>Comments</b></h4>
					<h4 class="col-md-3 col-xs-3 small tablinks pointer" onclick="openContent(event, 'Likes')"><b>Likes</b></h4>
					<h4 class="col-md-3 col-xs-3 small tablinks pointer" onclick="openContent(event, 'Q & A')"><b>Q & A</b></h4>
				</div>
				<div id="Wads" class="tabcontent">
					<div class="row no-gutters">
						<% @user.wads.each do |wad| %>
							<%= render 'wads/wad_card', wad: wad %>
						<% end %>
					</div>
				</div>
				<div id="Comments" class="tabcontent">
					<div class="row no-gutters">
						<% @user.comments.each do |comment| %>
							<%= render 'wads/wad_card', wad: comment.wad %>
						<% end %>
					</div>
				</div>
				<div id="Likes" class="tabcontent">
					<div class="row no-gutters">
						<% @likes.each do |wad| %>
							<%= render 'wads/wad_card', wad: wad %>
						<% end %>
					</div>
				</div>
				<div id="Q & A" class="tabcontent">
					<% @user.discussions.each do |discussion| %>
						<%= render 'discussions/discussion', discussion: discussion %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
