<div id="ans-<%= answer.id %>" class="row">
	<div class="col-2 border-right text-center">
		<%= link_to user_path(answer.user) do %>
			<%= image_tag answer.user.photo(:thumb), class: "w-75" %>
		<% end %>
	</div>

	<div class="col-7 small">
		<div class="col-12">
			<%= answer.content %>
		</div>
	</div>
	<div class="col-3">
		<span id="btn-hide" onclick='execReply("<%= answer.id %>")'><%= fa_icon('comment') %></span>
			<span><%= link_to fa_icon("chevron-circle-up", class: "profile-link"), discussion_answer_like_path(answer.discussion, answer), method: :put, remote: true %></span>
        		<span data-check="<%= current_user.voted_for? answer %>" id="like-<%= answer.id %>"><%= answer.get_upvotes.size %></span>
		<% if current_user == answer.user %>
			<span onclick='removeAnswer("<%= answer.id %>")'><%= link_to fa_icon("trash", class: "profile-link"), [answer.discussion , answer], method: :delete, remote: true %></span>
		<% end %>
	</div>	
</div>


<div class="float-right row no-gutters col-12 mt-4">	
	<div id="reply-<%= answer.id %>" class="col-12 reply-hide">
		<div id="ans-form-<%= answer.id %>" class="mb-2">
			<%= render 'form' %>
		</div>

		<div id="ans-<%= answer.id %>" class="small col-12 row">
			<div id="ans-img-<%= answer.id %>" class="col-4">

			</div>

			<div id="ans-cnt-<%= answer.id %>" class="col-6">

			</div>

		</div>		
			<% answer.descendants.each do |answer| %>
		<div id="ans-<%= answer.id %>" class="small col-12 row border-top">
			<div class="col-4">
				<%= answer.user.name %>:
			</div>

			<div class="col-6">
				<%= answer.content %>
			</div>
			<div class="col-2 row-fluid">

				<span class="child-cmt" onclick='secondaryReply("<%= answer.id %>", "<%= answer.id %>", "<%= answer.user.name %>");'><%= fa_icon("comment") %></span>
				<% if current_user == answer.user %>
					<span onclick='removeAnswer("<%= c.id %>")'><%= link_to fa_icon("trash", class: "profile-link"), [c.discussion , c], method: :delete, remote: true %></span>
				<% end %>	
			</div>
		</div>
			<% end %>
	</div>
</div>

