<div class="row">
	<div class="col-2 border-right text-center">
		<%= image_tag answer.user.photo(:thumb), class: "w-75" %>
	</div>

	<div class="col-7 small">
		<div class="col-12">
			<%= answer.content %>
		</div>
	</div>
	<div class="col-3">
		<span id="btn-hide" onclick='execReply("<%= answer.id %>")'>	<%= fa_icon('comment') %> </span>
		<% if current_user == answer.user %>
			<%= link_to fa_icon("trash", class: "profile-link"), [answer.discussion , answer], method: :delete %>
		<% end %>
	</div>	
</div>


<div class="float-right row no-gutters col-12 mt-4">	
	<div id="reply-<%= answer.id %>" class="col-12 reply-hide">
		<div class="mb-2">
			<%= render 'form' %>
		</div>
			<% answer.descendants.each do |c| %>
		<div class="small col-12 row border-top">
			<div class="col-2">
				<%= image_tag c.user.photo(:thumb), class: "w-75" %>
			</div>

			<div class="col-6">
				<%= c.content %>
			</div>
			<div class="col-3 row-fluid">
				<span class="child-cmt" onclick='secondaryReply("<%= comment.id %>", "<%= c.id %>", "<%= c.user.name %>");'><%= fa_icon("comment") %></span>
				<span><% if current_user == answer.user %>
					<%= link_to fa_icon("trash", class: "profile-link"), [answer.wad , answer], method: :delete %>
				<% end %></span>	
			</div>
		</div>
			<% end %>
	</div>
</div>

