<div id="ans-<%= answer.id %>" class="row">
	<div class="col-2 border-right text-center">
		<%= link_to user_path(answer.user) do %>
			<%= image_tag answer.user.photo(:thumb), class: "w-75" %>
		<% end %>
	</div>

	<div class="col-7 small">
		<div class="col-12">
			<%= answer.content %>
		</div>
	</div>
	<div class="col-3">
		<span id="btn-hide" onclick='execReply("<%= answer.id %>")'><%= fa_icon('comment') %></span>
		<% if current_user == answer.user %>
			<span onclick='removeAnswer("<%= answer.id %>")'><%= link_to fa_icon("trash", class: "profile-link"), [answer.discussion , answer], method: :delete, remote: true %></span>
		<% end %>
		<% if current_user == @discussion.user %>
			<%= link_to solved_discussion_path(@discussion, answer_id: answer.id), class: "profile-link", method: :patch, remote: true do %>
				<% if @discussion.resolved == false %>
					<span class="solution-check" data-check="<%= answer.solution %>"><%= fa_icon('check') %></span>
				<% elsif @discussion.resolved && answer.solution %>
					<span><%= fa_icon('question') %></span>
				<% end %>
			<% end %>
		<% end %>
	</div>	
</div>


<div class="float-right row no-gutters col-12 mt-4">	
	<div id="reply-<%= answer.id %>" class="col-12 reply-hide">
		<div id="ans-form-<%= answer.id %>" class="mb-2">
			<%= render 'form' %>
		</div>

		<div id="ans-<%= answer.id %>" class="small col-12 row">
			<div id="ans-img-<%= answer.id %>" class="col-4">

			</div>

			<div id="ans-cnt-<%= answer.id %>" class="col-6">

			</div>

		</div>		
			<% answer.descendants.each do |c| %>
		<div id="ans-<%= c.id %>" class="small col-12 row border-top">
			<div class="col-4">
				<%= c.user.name %>:
			</div>

			<div class="col-6">
				<%= c.content %>
			</div>
			<div class="col-2 row-fluid">
				<span class="child-cmt" onclick='secondaryReply("<%= answer.id %>", "<%= c.id %>", "<%= c.user.name %>");'><%= fa_icon("comment") %></span>
				<% if current_user == answer.user %>
					<span onclick='removeAnswer("<%= c.id %>")'><%= link_to fa_icon("trash", class: "profile-link"), [c.discussion , c], method: :delete, remote: true %></span>
				<% end %>	
			</div>
		</div>
			<% end %>
	</div>
</div>

