<div class="col-12 col-md-6">
	<%= render 'discussions/panel' %>
		

	<div class="h5">
		Discussion
	</div>

	<div class="card mb-4">
		<div class="card-header">
			<%= form_for [@discussion, @discussion.answers.build], html: { class: 'form-inline' }, remote: true do |f| %>
			<%= f.hidden_field :discussion_id %>
			<%= f.label :content, class: 'sr-only' %>
			<%= f.text_field :content, class: 'form-control w-50 mr-2', placeholder: 'Have any suggestions?' %>
			<%= f.submit 'Answer', class: 'btn btn-primary', disable_with: 'Sending' %>
		  <% end %>
		</div>

		<div class="list-group list-group-flush">
			<%= answers_tree_for @replies %>
		</div>
	</div>
</div>
