<div class="col-12 col-md-6">
	<div>
		<%= render 'discussions/panel' %>
	</div>
	<div class="h5 mt-3 small">
		Use the <%= fa_icon('check') %> to select the correct answer!
	</div>
	<div class="card">
		<div class="card-header">
			<%= form_for [@discussion, @discussion.answers.build], class: 'form-inline', remote: true  do |f| %>
			<%= f.hidden_field :discussion_id %>
			<%= f.label :content, class: 'sr-only' %>
			<%= f.text_field :content, class: 'form-control w-50 mr-2 d-inline', placeholder: 'Have any suggestions?' %>
			<%= f.submit 'Answer', class: 'commentBtn d-inline', disable_with: 'Sending' %>
		  <% end %>
		</div>
		<div class="list-group list-group-flush">
			<%= answers_tree_for @replies %>
		</div>
	</div>
</div>
