<div class="col-12">
	<div class="row">
		<div class="col-4 d-none d-md-block">
			<%= render "discussions/sidebar" %>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-8">
			<div>
				<%= render 'discussions/panel' %>
			</div>

			<div class="card">
				<div class="card-header d-none d-sm-block">
					<%= form_for [@discussion, @discussion.answers.build], class: 'form-inline', remote: true  do |f| %>
					<%= f.hidden_field :discussion_id %>
					<span class="d-none d-sm-block"><%= f.text_area :content, class: 'form-control mr-2 d-inline ', style: "resize:none;", placeholder: 'Have any suggestions?' %></span>	
					<%= f.submit 'Answer', class: 'newbutton float-right d-none d-sm-block', disable_with: 'Sending' %>
				  <% end %>
				</div>
				<div class="card-header d-block d-sm-none">
					<%= form_for [@discussion, @discussion.answers.build], class: 'form-inline', remote: true  do |f| %>
					<%= f.hidden_field :discussion_id %>
					<span class="d-block d-sm-none"><%= f.text_area :content, class: 'form-control mr-2 d-inline', style: "resize:none;", placeholder: 'Have any suggestions?' %></span>		
					<%= f.submit 'Answer', class: 'newbutton mx-auto d-block d-sm-none', disable_with: 'Sending' %>
				  <% end %>
				</div>				
			</div>
		
			<div class="list-group list-group-flush">
				<%= answers_tree_for @replies %>
			</div>

		</div>
	</div>
</div>
