<div class="modal fade" id="applicationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mx-auto">Apply to Join <%= @wad.user.first_name %>'s Project </h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= form_for @collaboration_request do |f|  %>
          <div class="">
            <div class="">
              <%= f.text_area :body, class: "message_body" %>
              <%= f.hidden_field :collaboration_id, value: @collaboration.id %>
              <%= f.submit "Apply" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
