<nav id="header" class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #2a3435;">
  <%= link_to image_tag("Spitball-Logo---Transparent-White-Logo-.png"), wads_path, class: 'ml-5 navbar-brand' %>
    <div class="d-none d-sm-block d-md-block">
        <%= form_tag search_path, method: :get, class: 'form-inline' do %>
        <%= text_field_tag :search, params[:search], placeholder: "", class: 'form-control form-control-sm mr-sm-1' %> 
        <%= button_to "Search", class: "search-btn pointer", name: nil do %>
            <i class="nav-link fa fa-search "></i>
         <% end %>
      <% end %>
    </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbar" class="collapse navbar-collapse">

    <ul id="navbar-elements" class="nav navbar-nav navbar-right ml-auto">
      <% if logged_in? %>

        <li class="nav-item dropdown d-block d-sm-none mt-3">
          <%= form_tag search_path, method: :get, class: 'form-inline' do %>    
          <%= text_field_tag :search, params[:search], placeholder: "", class: 'col-10 form-control form-control-sm mr-sm-1' %> 
          <%= button_to "Search", class: "search-btn pointer col-2", name: nil do %>
              <i class="nav-link fa fa-search"></i>
           <% end %>                
          <% end %>
        </li>

        <li class="nav-item dropdown d-inline" data-behavior='notifications' data-behavior="notifications-link">
          <a id="notificationsDD" href="#" class="nav-link mr-3" data-toggle="dropdown">
            <%= fa_icon("bell 2x") %> <span><sup id="notification-indic"></sup></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" data-behavior="notification-items" aria-labelledby="notificationsDD">
            <div class="text-center profile-link"><%= link_to "see all", "#" %></div>
          </div>
        </li>
        <li class="nav-item display-orange mr-3">
          <%= link_to discussions_path, class: 'nav-link'  do%>
            <span><%= fa_icon("comments", class: "mr-1") %> Forum</span>
          <% end %>
        </li>
        <li class="dropdown mr-5">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <span id="user-photo" class="mr-1"><%= image_tag current_user.photo, class: "rounded-circle", style: "width:30px;" %></span><span class="ml-1"><%= current_user.name %></span>
            </a>

            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to "Profile", current_user, class: 'dropdown-item' %>
              <%= link_to "Settings", edit_user_path(current_user), class: 'dropdown-item' %>
              <%= link_to "Inbox", conversations_path, class: 'dropdown-item' %>
              <%= link_to "Friend Requests", friend_requests_path, class: 'dropdown-item' %>

                <div class="dropdown-divider"></div>
                   <%= link_to "Log out", logout_path, method: :delete, class: 'dropdown-item' %>
                </div>
        </li>

            <% else %>
        <li class="nav-item">
          <%= link_to "Log in", new_user_path, class: 'nav-link' %>
        </li>
      <% end %>
        <% sidebar_elements.each do |element| %>
          <li class="d-md-none nav-item float-right align-right">
            <%= link_to element[:name], element[:link], class: 'nav-link' %>
          </li>
        <% end %>
    </ul>
  </div>
</nav>
