<nav id="header" class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgb(0,105,154);">
  <%= link_to image_tag("Spitball-Logo---Transparent-White-Logo-.png"), wads_path, class: 'ml-5 navbar-brand', id: "logo", data: { turbolinks: false } %>
    <div class="d-none d-sm-block d-md-block">
      <%= form_tag search_path, method: :get, class: 'form-inline' do %>
        <%= text_field_tag :search, params[:search], placeholder: " Search...", class: 'form-control form-control-sm mr-sm-1', id: 'search-form-field' %>
      <% end %>
    </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbar" class="collapse navbar-collapse">

    <ul id="navbar-elements" class="nav navbar-nav navbar-right ml-auto">
      <% if logged_in? %>

      <li class="nav-item dropdown d-block d-sm-none mt-3 d-inline">
        <%= form_tag search_path, method: :get, class: 'form-inline col-xs-9' do %>
          <%= text_field_tag :search, params[:search], placeholder: " Search...", class: 'form-control form-control-sm mr-sm-1', id: 'search-form-field' %>
        <% end %>
      </li>
      <li class="nav-item dropdown d-none d-sm-block" data-behavior='notifications' data-behavior="notifications-link">
        <a id="notificationsDD" href="#" class="nav-link mr-3" data-toggle="dropdown">
           <span class="bell-size"><%= fa_icon("bell", class: "bell align-middle") %><sup id="" class="notification-indic"></sup></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" data-behavior="notification-items" aria-labelledby="notificationsDD">
          <div class="text-center profile-link border-top"><%= link_to "see all", "#" %></div>
        </div>
      </li>

      <li class="nav-item forum-border mr-3 d-none d-sm-block mt-2 ml-3">
        <%= link_to discussions_path, class: 'nav-link' do %>
          <span class="header-font px-2 align-top"><%= fa_icon("comments", class: "mr-1 align-top") + " "%>Community Forum</span>
        <% end %>
      </li>

      <li class="dropdown mr-5 mt-1 d-none d-sm-block">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <% unless !current_user.photo.attached? %><span id="user-photo" class="mr-1"><%= image_tag current_user.photo, class: "rounded-circle", style: "width:30px;" %></span><% end %><span class="ml-1 header-font"><%= current_user.name %></span>
          </a>

          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to "Profile", current_user, class: 'dropdown-item' %>
            <%= link_to "Settings", edit_user_path(current_user), class: 'dropdown-item' %>
            <%= link_to "Inbox", conversations_path, class: 'dropdown-item' %>
            <%= link_to "Friend Requests", friend_requests_path, class: 'dropdown-item' %>
              <div class="dropdown-divider">
              </div>
            <%= link_to "Log out", logout_path, method: :delete, class: 'dropdown-item' %>
          </div>
      </li>

          <% else %>
      <li class="nav-item">
        <%= link_to "Log in", new_user_path, class: 'nav-link' %>
      </li>

      <% end %>
      <% if logged_in? %>
      <li class="d-block d-sm-none mt-3">
        <div class="row">
          <div class="col-2 text-center text-white">
            <a id="notificationsDD" href="#" class="nav-link mr-3" data-toggle="dropdown">
               <span class="bell-size"><%= fa_icon("bell") %><sup id="" class="notification-indic"></sup></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" data-behavior="notification-items" aria-labelledby="notificationsDD">
              <div class="text-center profile-link"><%= link_to "see all", "#" %></div>
            </div>
          </div>
          <div class="col-6 text-center display-orange">
            <%= link_to discussions_path, class: 'nav-link'  do%>
              <span class=""><%= fa_icon("comments", class: "mr-1 small") %> Forum</span>
            <% end %>
          </div>
          <div class="col-4 dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <% unless !current_user.photo.attached? %><span id="" class="mr-1"><%= image_tag current_user.photo, class: "rounded-circle w-25", id: "user-photo" %></span><% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-right small">
              <%= link_to "Profile", current_user, class: 'dropdown-item' %>
              <%= link_to "Settings", edit_user_path(current_user), class: 'dropdown-item' %>
              <%= link_to "Inbox", conversations_path, class: 'dropdown-item' %>
              <%= link_to "Friend Requests", friend_requests_path, class: 'dropdown-item' %>
                <div class="dropdown-divider">

                </div>
                   <%= link_to "Log out", logout_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </div>
          <% else %>
          <div>
              <%= link_to "Log in", new_user_path, class: 'nav-link' %>
          </div>
        </div>
      </li>
      <% end %>
      <% sidebar_elements.each do |element| %>
        <li class="d-md-none nav-item float-right align-right">
          <%= link_to element[:name], element[:link], class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
