<nav id="header" class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" style="background-color: white;">
<div class="row col-9">
  <div class="col-1">

  </div>
  <div class="col-2 pl-0 ">
      <%= link_to image_tag("logo-black.png", class: "logo"), wads_path, id: "logo", data: { turbolinks: false } %>
  </div>

  <div class="d-none d-sm-block d-md-block col-9">
    <div class="w-100 ml-4">
      <%= form_tag search_path, method: :get, class: 'form-inline' do %>
        <%= text_field_tag :search, params[:search], placeholder: " Search", class: 'form-control form-control-sm mr-sm-1 h-100 border-0 shadow-sm', id: 'search-form-field' %>
      <% end %>
    </div>
  </div>
</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class=""><%= fa_icon('bars 2x', class: 'text-black') %></span>
  </button>

  <div id="navbar" class="collapse navbar-collapse col-3" style="background-color: white;">
    <ul id="navbar-elements" class="nav navbar-nav navbar-right ml-auto">
      <% if logged_in? %>

      <li class="nav-item dropdown d-block d-sm-none mt-3 d-inline">
        <%= form_tag search_path, method: :get, class: 'form-inline col-xs-9' do %>
          <%= text_field_tag :search, params[:search], placeholder: " Search...", class: 'form-control form-control-sm mr-sm-1 w-100', id: 'search-form-field' %>
        <% end %>
      </li>
      <li class="nav-item d-none d-sm-block">
        <button class="createBtn text-white small mt-2 pointer" type="button" name="button"  data-toggle='modal' data-target='#myModal'>
          <%= fa_icon('plus') + " " %> CREATE
        </button>
      </li>
      <li class="nav-item dropdown d-none d-sm-block col-3 pl-0 align-top" data-behavior='notifications' data-behavior="notifications-link">
        <a id="notificationsDD" href="#" class="nav-link pr-2 pl-0" data-toggle="dropdown">
           <span class="bell-size"><%= fa_icon("bell", class: "bell align-middle text-dark") %><sup id="" class="notification-indic"></sup></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" data-behavior="notification-items" aria-labelledby="notificationsDD">
          <div class="text-center profile-link border-top"><%= link_to "/notifications", onclick: "sendPost()", class: "profile-link" do %>click to see more <%= fa_icon('arrow-right') %><%end%></div>
        </div>
      </li>

      <li class="dropdown mr-3 mt-1 d-none d-sm-block">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <% if current_user.photo.attached? %><span id="user-photo" class="mr-1"><%= image_tag current_user.photo, class: "rounded-circle", style: "width:40px;" %></span><% end %><span class="ml-1 header-font text-dark"><%= fa_icon('caret-down') %></span>
          </a>

          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to "Profile", current_user, class: 'dropdown-item' %>
            <%= link_to "Settings", edit_user_path(current_user), class: 'dropdown-item' %>
            <div class="dropdown-divider">
            </div>
            <%= link_to "Inbox", conversations_path, class: 'dropdown-item' %>
            <%= link_to "WorkSpace", "#", class: 'dropdown-item' %>
            <%= link_to "FAQ", "#", class: 'dropdown-item' %>
            <div class="dropdown-divider">
            </div>
            <%= link_to "Log out", logout_path, method: :delete, class: 'dropdown-item' %>
          </div>
      </li>

          <% else %>
      <li class="nav-item">
        <%= link_to "Log in", login_path, class: 'nav-link d-none d-sm-block' %>
      </li>

      <% end %>
      <% if logged_in? %>
      <li class="d-block d-sm-none mt-3">
        <div class="row">
          <div class="col-2 text-center">
            <a id="notificationsDD" href="#" class="nav-link" data-toggle="dropdown">
               <span class="bell-size"><%= fa_icon("bell") %><sup id="" class="notification-indic"></sup></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" data-behavior="notification-items" aria-labelledby="notificationsDD">
              <div class="text-center profile-link"><%= link_to "see all", "/notifications", onclick: "sendPost()" %></div>
            </div>
          </div>
          <div class="col-6 text-center display-orange">
            <%= link_to discussions_path, class: 'nav-link', data: {turbolinks: false}  do%>
              <span class=""><%= fa_icon("comments", class: "mr-1 small") %> Forum</span>
            <% end %>
          </div>
          <div class="col-4 dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <% if current_user.photo.attached? %><span id="" class="mr-1"><%= image_tag current_user.photo, class: "rounded-circle w-25", id: "user-photo" %></span><% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-left mr-5 small">
              <%= link_to "Profile", current_user, class: 'dropdown-item' %>
              <%= link_to "Settings", edit_user_path(current_user), class: 'dropdown-item' %>
              <%= link_to "Inbox", conversations_path, class: 'dropdown-item' %>
              <%= link_to "WorkSpace", "#", class: 'dropdown-item' %>
                <div class="dropdown-divider">
                </div>
              <%= link_to "Log out", logout_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </div>
          <% else %>
          <div>
              <%= link_to "Log in", login_path, class: 'nav-link d-block d-sm-none' %>
          </div>
        </div>
      </li>
      <% end %>
      <% if logged_in? %>
        <% sidebar_elements.each do |element| %>
          <li class="d-md-none nav-item float-right align-right">
            <%= link_to element[:name], element[:link], class: 'nav-link' %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</nav>
