<header class="navbar-custom">
  <link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">
  <div class="container">
    <%= link_to image_tag("logo2black.png"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li ><%= link_to wads_path do %>
                <%=image_tag("wad_icon.png") %>
            <% end %>
        </li>
        <% if logged_in? %>

          <li class="navbar-font"><%= link_to "Forum", discussions_path %></li>
          <li class="navbar-font"><%= link_to "Creators", users_path %></li>
          <li class="dropdown">
            <a href="#" class="navbar-font" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li class="navbar-font"><%= link_to "Profile", current_user %></li>
              <li class="navbar-font"><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li class="navbar-font">
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>

          <li class="navbar-font"><%= link_to "Log in", login_path %></li>

        <% end %>
      </ul>
    </nav>
  </div>
</header>