<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="N70q534iosmsdIPXlh4N0VJA-smpASbRkhbPKc9QCNE" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <meta content='summary' name='twitter:card'/>
    <meta property="og:title" content="Spitball.io" />
    <meta property="og:description" content="A Platform for the Influencers of Tomorrow" />
    <meta property="og:url" content="https://spitball.io/" />
    <meta property="og:image" content="<%= asset_path 'logo-black.png' %>" />
    <meta name="twitter:card" content="summary" />
    <%= stylesheet_link_tag    'application', media: 'all',                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%#    <%= render 'layouts/landingheader' %>
  </head>

  <body class="<%= params[:controller] %> <%= params[:action] %>">
<%#    <%= render 'layouts/landingheader' %>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= render 'static_pages/landing_modal' %>
    <%= content_for?(:sub_layout) ? yield(:sub_layout) : yield %>


  </body>
</html>
