<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="N70q534iosmsdIPXlh4N0VJA-smpASbRkhbPKc9QCNE" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <meta content='summary' name='twitter:card'/>
    <meta property="og:title" content="Spitball.io" />
    <meta property="og:description" content="What Innovation looks like in the New Economy" />
    <meta property="og:url" content="https://spitball.io/" />
    <meta property="og:image" content="https://spitball.io/assets/black_background_logo-a93fe34351fda901a1e741374482b0ae357a1ab30568d00bcdd4aa5c61cd6981.png">
    <meta property="og:type" content="landing_page" />
    <meta name="twitter:card" content="summary" />
    <%= stylesheet_link_tag    'application', media: 'all',                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%#    <%= render 'layouts/landingheader' %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3262651947060417",
        enable_page_level_ads: true
      });
    </script>
  </head>

  <body class="<%= params[:controller] %> <%= params[:action] %>" style="margin: 0px; padding: 0px;">
<%#    <%= render 'layouts/landingheader' %>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= render 'static_pages/landing_modal' %>
    <%= content_for?(:sub_layout) ? yield(:sub_layout) : yield %>


  </body>
</html>
