<% content_for :sub_layout do %>
    <div class="col-md-12">
      <div class="row col-md-11 mt-md-5 mx-auto">
        <div class="col-md-2 d-none d-sm-block">
          <%= link_to wads_path, class: "profile-link" do %><%= fa_icon('arrow-left') %> &nbsp; <span class="font-weight-bold">BACK TO WADS</span> <% end %>
        </div>
        <div class="col-md-7 col-xs-12 mb-3">
          <%= yield %>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="card border-0 shadow-sm">
            <div class="border-bottom mb-2">
              <h6 class="text-center p-3 mt-1">Similar Wads</h6>
            </div>
              <%= render "wads/side_wad" %>
          </div>
        </div>
      </div>
    </div>
<% end %>
<%= render 'collaboration_requests/modal' %>
<%= render template: 'layouts/application' %>
