<% content_for :sub_layout do %>
<div class="row no-gutters" style="height: 100vh; background-color:white;">
    <div class="col-md-2 border-right">
  	  <%= render "sidebar" %>
      <div id="docuz" class="accordion">
        <%= render "other_sidebar" %>
      </div>
    </div>
  	<div class="col-md-8 col-xs-12">
    	<%= yield %>
    </div>
    <div class="col-md-2 border-left d-none d-sm-block">
      <%= render 'other_sidebar' %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
