<% content_for :sub_layout do %>
<div class="">
	<div class="row col-md-11 col-xs-12 mx-auto">

		<div class="col-md-2 d-none d-sm-block mt-5">
			<%= render 'wads/sidebar' %>
		</div>
		<div class="col-md-7 col-xs-12 mt-3">
			<%= yield %>
		</div>
		<div class="col-md-3 d-none d-sm-block mt-4">
			<%= render 'discussions/wad_panel' %>
			<%= render 'wads/news&notifications' %>
		</div>
	</div>
</div>
<%= render 'modal' %>

<%
=begin %>
<% if @time_now - @session_created_at < 10 %>
	<button id="walkthrough" type="button" class="d-none" data-toggle="modal" data-target="#wtModal"></button>
	<%= render 'layouts/walkthrough' %>
<% end %>
<%
=end %>

<% end %>

<%= render template: 'layouts/application' %>
